/.classpath
/.project
/.settings/
/.vscode/
web/1006.6.5/devicemanagement/dist
web/1006.6.5/devicemanagement/node_modules
web/1007.0.24/devicemanagement-lora/dist
web/1007.0.24/devicemanagement-lora/node_modules
web/1009.0.12/devicemanagement-lora/dist
web/1009.0.12/devicemanagement-lora/node_modules
web/1010.0.12/devicemanagement-lora/dist
web/1010.0.12/devicemanagement-lora/node_modules
web/1011.0.12/devicemanagement-lora/dist
web/1011.0.12/devicemanagement-lora/node_modules
web/1014.0.172/devicemanagement-lora/dist
web/1014.0.172/devicemanagement-lora/node_modules
web/1015.0.218/devicemanagement-lora/dist
web/1015.0.218/devicemanagement-lora/node_modules
web/1016/lora-package/dist
web/1016/lora-package/node_modules
c8y_credentials
