openapi: 3.1.0
info:
  title: ThingPark things management Devices API
  description: >
    REST interface for Devices management.
  version: '7.3'
servers:
  - url: 'https://community.thingpark.io/thingpark/wireless/rest'
    description: Community
  - url: 'https://thingparkenterprise.eu.actility.com/thingpark/wireless/rest'
    description: Europe
  - url: 'https://thingparkenterprise.us.actility.com/thingpark/wireless/rest'
    description: United-States
  - url: 'https://thingparkenterprise.au.actility.com/thingpark/wireless/rest'
    description: Australia
  - url: 'https://{hostname}/thingpark/wireless/rest'
    description: Self-hosted TPE
    variables:
      hostname:
        default: enterprise.actility.local
        description: Hostname of the self-hosted TPE deployment
paths:
  '/subscriptions/mine':
    get:
      tags:
        - subscriptions
      summary: Retrieve Subscription
      description: |
        Retrieve a Subscription detail.

        ### Access rights:
        - `<Subscription>/x`
      responses:
        '200':
          $ref: '#/components/responses/Subscription'
        default:
          $ref: '#/components/responses/Error'
    put:
      tags:
        - subscriptions
      summary: Update Subscription
      description: |
        Update a Subscription.

        ### Access rights:
        - `<Subscription>/RA`
        - `<Subscription>/s1`: `MANAGE_SUBSCRIBER`

        ### Optimistic locking:
        - `<subscription>.occ`
      parameters:
        - $ref: '#/components/parameters/Force'
      requestBody:
        $ref: '#/components/requestBodies/Subscription'
      responses:
        '200':
          $ref: '#/components/responses/Subscription'
        default:
          $ref: '#/components/responses/Error'
    parameters: []
  '/subscriptions/mine/appServers':
    get:
      tags:
        - app-servers
      summary: Retrieve application servers
      description: |
        Retrieve the list of application servers attached to a subscription.

        ### Access rights:
        - `<Subscription>/x`
        - `LPWA_MGR::READ_AS_ROUTING_PROFILE`
        - If the authenticated user has domain restrictions, only the following application servers are returned:
          - Application servers not associated with any domain
          - Application servers associated with domains and matching the domain restrictions
      parameters:
        - $ref: '#/components/parameters/PageIndex'
        - name: destinationsRequired
          in: query
          description: |
            TRUE when only Application Servers with at least one destination
            must be returned.
          schema:
            type: boolean
        - name: query
          in: query
          description: |
            Search appServers with an ID or a name containing the provided term.
            (prefix match)
          schema:
            type: string
        - name: name
          in: query
          description: App server name filtering (prefix match)
          schema:
            type: string
        - name: ID
          in: query
          description: App server ID filtering (prefix match)
          schema:
            type: string
        - name: type
          in: query
          description: |
            Returns Application Servers matching type:
            - `HTTP`
            - `HTTP_CELLULAR`
            - `KAFKA`

            Multiple "type" query parameters can be encoded in the URI (OR
            operation).

            By default, all Application Servers are returned.

            `HTTP_CELLULAR` is only applicable to **ThingPark Wireless** if the
            cellular connectivity is enabled by the Operator.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
              enum:
                - HTTP
                - HTTP_CELLULAR
                - KAFKA
        - name: tpxIotFlowConnectorId
          in: query
          description: |
            Returns Application Servers matching TPX IoT Flow Connector ID.

            Multiple "tpxIotFlowConnectorId" query parameters can be encoded in the URI
            (OR operation).

            By default, all Application Servers are returned.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: tpxIotFlowConnectionId
          in: query
          description: |
            Returns Application Server matching TPX IoT Flow Connection ID.

            By default, all Application Servers are returned.
          schema:
            type: string
        - name: baseStationAlarmNotification
          in: query
          description: |
            Returns Kafka Application Servers for which the notification of Base
            Station alarms is enabled.

            By default, all Application Servers are returned.
          schema:
            type: string
        - name: deviceAlarmNotification
          in: query
          description: |
            Returns Kafka Application Servers for which the notification of
            Device alarms is enabled.

            By default, all Application Servers are returned.
          schema:
            type: string
        - name: sort
          in: query
          description: >
            Defines how results are sorted (&lt;attribute&gt;,&lt;order&gt;).


            The following attributes are supported:

            - 'ID': results are sorted by ID

            - 'name': results are sorted by name


            The following orders are supported:

            - 'asc': ascending order

            - 'desc': descending order


            By default, results are sorted by ID
          schema:
            type: string
            example: name,asc
      responses:
        '200':
          $ref: '#/components/responses/AppServers'
        default:
          $ref: '#/components/responses/Error'
    post:
      tags:
        - app-servers
      summary: Add an application server
      description: |
        Add an application server.

        The ID of the application server is automatically generated as follow:

        `TWA_<subscriberID>.<uid>.AS`

        Sample:

        `TWA_199906537.7.AS`

        In **ThingPark Enterprise**, this endpoint must not be used to create a
        TPX IoT Flow connection. The Dx-Core API must be used for that purpose.

        ### Access rights:
        - `<Subscription>/a`
        - `LPWA_MGR::WRITE_AS_ROUTING_PROFILE`
        - If the authenticated user has domain restrictions, the application server must match the domain restrictions.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppServer'
            examples:
              HTTPLoRaWAN:
                $ref: '#/components/examples/AppServerHttpLorawanPost'
        required: true
      responses:
        '201':
          $ref: '#/components/responses/AppServer'
        default:
          $ref: '#/components/responses/Error'
    parameters: []
  '/subscriptions/mine/appServers/{appServerUid}':
    get:
      tags:
        - app-servers
      summary: Retrieve an application server
      description: |
        Retrieve an application server.

        ### Access rights:
        - `<Subscription>/x`
        - `LPWA_MGR::READ_AS_ROUTING_PROFILE`
        - If the authenticated user has domain restrictions, one of the following conditions must be satisfied:
          - The application server is not associated with any domain
          - The application server is associated with at least one domain and matches the domain restrictions
      responses:
        '200':
          $ref: '#/components/responses/AppServer'
        default:
          $ref: '#/components/responses/Error'
    put:
      tags:
        - app-servers
      summary: Update an application server
      description: |
        Update an application server.

        The uplink/downlink security must be activated if required in TWA
        system-wide configuration (app_server.ul_dl_security_required=1).

        Destination URLs must be HTTPS if required in TWA system-wide
        configuration (app_server.https_destinations_required=1).

        In **ThingPark Enterprise**, this endpoint must not be used to update a
        TPX IoT Flow connection. The Dx-Core API must be used for that purpose.

        ### Access rights:
        - `<Subscription>/a`
        - `LPWA_MGR::WRITE_AS_ROUTING_PROFILE`
        - If the authenticated user has domain restrictions, the application server must match the domain restrictions before and after the update.

        ### Optimistic locking:
        - `<appServer>.occ`
      parameters:
        - $ref: '#/components/parameters/Force'
      requestBody:
        $ref: '#/components/requestBodies/AppServer'
      responses:
        '200':
          $ref: '#/components/responses/AppServer'
        default:
          $ref: '#/components/responses/Error'
    delete:
      tags:
        - app-servers
      summary: Delete an application server
      description: |
        Delete an application server.

        In **ThingPark Enterprise**, this endpoint must not be used to delete a
        TPX IoT Flow connection. The Dx-Core API must be used for that purpose.

        ### Access rights:
        - `<Subscription>/a`
        - `LPWA_MGR::WRITE_AS_ROUTING_PROFILE`
        - If the authenticated user has domain restrictions, the application server must match the domain restrictions.
      responses:
        '204':
          $ref: '#/components/responses/Delete'
        default:
          $ref: '#/components/responses/Error'
    parameters:
      - $ref: '#/components/parameters/AppServer'
  '/subscriptions/mine/appServers/{appServerUid}/security':
    get:
      tags:
        - app-servers
      summary: Retrieve the security status of an application server
      description: |
        Retrieve the security status of an application server.

        ### Access rights:
        - `<Subscription>/x`
        - `LPWA_MGR::READ_AS_ROUTING_PROFILE`
        - If the authenticated user has domain restrictions, one of the following conditions must be satisfied:
          - The application server is not associated with any domain
          - The application server is associated with at least one domain and matches the domain restrictions
      responses:
        '200':
          $ref: '#/components/responses/SecurityAppServer'
        default:
          $ref: '#/components/responses/Error'
    put:
      tags:
        - app-servers
      summary: Update the security status of an application server
      description: |
        Update the security status of an application server.

        The uplink/downlink security must be activated if required in TWA
        system-wide configuration (app_server.ul_dl_security_required=1).

        ### Access rights:
        - `<Subscription>/a`
        - `LPWA_MGR::WRITE_AS_ROUTING_PROFILE`
        - If the authenticated user has domain restrictions, the application server must match the domain restrictions.

        ### Optimistic locking:
        - `<appServer>.occ`
      parameters:
        - $ref: '#/components/parameters/Force'
      requestBody:
        $ref: '#/components/requestBodies/SecurityAppServer'
      responses:
        '200':
          $ref: '#/components/responses/SecurityAppServer'
        default:
          $ref: '#/components/responses/Error'
    parameters:
      - $ref: '#/components/parameters/AppServer'
  '/subscriptions/mine/appServers/{appServerUid}/iotFlowConnector/metrics':
    get:
      tags:
        - app-servers
      summary: Retrieve the IoT Flow connector metrics of an application server
      description: |
        Retrieve the IoT Flow connector metrics of an application server.

        ### Access rights:
        - `<Subscription>/x`
        - `LPWA_MGR::READ_AS_ROUTING_PROFILE`
        - If the authenticated user has domain restrictions, one of the following condition must be satisfied:
          - The application server is not associated with any domain
          - The application server is associated with at least one domain and matches the domain restrictions
      responses:
        '200':
          $ref: '#/components/responses/AppServerIotFlowConnectorMetrics'
        default:
          $ref: '#/components/responses/Error'
    parameters:
      - $ref: '#/components/parameters/AppServer'
  '/subscriptions/mine/deviceProfiles':
    get:
      tags:
        - device-profiles
      summary: Retrieve DeviceProfiles
      description: |
        Retrieve the list of device profile accessible to the Subscription.

        ### Access rights:
        - `<Subscription>/x`
      parameters:
        - $ref: '#/components/parameters/PageIndex'
        - name: typeMAC
          in: query
          description: Returns Device Profiles matching typeMAC (exact match).
          schema:
            type: string
        - name: vendorID
          in: query
          description: Device Vendor ID filtering (exact match)
          schema:
            type: string
        - name: ismBandID
          in: query
          description: |
            ISM band ID filtering (exact match)

            If multiple ismBandID, return Device Profiles supporting any of ISM Band
          schema:
            type: array
            items:
              $ref: '#/components/schemas/IsmBandID'
        - $ref: '#/components/parameters/Language-tag'
        - name: connectivity
          in: query
          description: |
            Returns Device Profiles matching connectivity (exact match).

            `CELLULAR` is only applicable to **ThingPark Wireless** if the
            cellular connectivity is enabled by the Operator.
          schema:
            enum:
              - LORAWAN
              - CELLULAR
            type: string
        - name: ID
          in: query
          description: Returns Device Profiles matching any of ID.
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          $ref: '#/components/responses/DeviceProfiles'
        default:
          $ref: '#/components/responses/Error'
    parameters: []
  '/subscriptions/mine/deviceProfiles/export':
    get:
      tags:
        - device-profiles
      summary: Export DeviceProfiles
      description: |
        Export the list of device profiles in a CSV file.

        ### Access rights:
        - `<Subscription>/x`
      parameters:
        - name: ismBandID
          in: query
          description: |
            ISM band ID filtering (exact match)

            If multiple ismBandID, return Device Profiles supporting any of ISM Band
          schema:
            type: array
            items:
              type: string
        - $ref: '#/components/parameters/Language-tag'
      responses:
        '200':
          description: >
            The device profiles CSV file is directly transported in the HTTP
            payload
          content:
            application/csv:
              example: |
                #Manufacturer name,Device model name,Device model ID,Device connectivity,ISM bands
                Abeeway,Micro-Tracker,ABEE/DEABE001-159US.1.0.2b_FCC_Rx2-SF12,LORAWAN,"us915,au915,cn470"
                Abeeway,Micro-Tracker,ABEE/DEABE003-167EU.1.0.2b_ETSI_Rx2-SF12,LORAWAN,"eu868,cn779,in865,eu433,kr920,ru864"
                Abeeway,Micro-Tracker,ABEE/DEABE005-168AS.1.0.2b_AS_Rx2-SF10,LORAWAN,"as923"
                Abeeway,Master-Tracker,ABEE/DEABE202-152EU.1.0.2b_ETSI_Rx2-SF12,LORAWAN,"eu868,cn779,in865,eu433,kr920,ru864"
                Abeeway,Master-Tracker,ABEE/DEABE203-162US.1.0.2b_FCC_Rx2-SF12,LORAWAN,"us915,au915,cn470"
                Abeeway,Compact-Tracker,ABEE/DEABE205-177EU.1.0.2b_ETSI_Rx2-SF12,LORAWAN,"eu868,cn779,in865,eu433,kr920,ru864"
                Abeeway,Compact-Tracker,ABEE/DEABE206-178US.1.0.2b_FCC_Rx2-SF12,LORAWAN,"us915,au915,cn470"
                Abeeway,Compact-Tracker,ABEE/DEABE206-179AS.1.0.2b_AS_Rx2-SF10,LORAWAN,"as923"
                Abeeway,Master-Tracker,ABEE/DEBAE203-163AS.1.0.2b_AS_Rx2-SF10,LORAWAN,"as923"
              schema:
                type: string
                format: binary
                description: >
                  The CSV contains the following columns:


                  <html><table>
                    <thead><tr><th><strong>Column</strong></th><th><strong>Definition</strong></th></tr></thead>
                    <tbody>
                      <tr><td>A</td><td>Device manufacturer name</td></tr>
                      <tr><td>B</td><td>Device model name</td></tr>
                      <tr><td>C</td><td>Device model ID</td></tr>
                      <tr><td>D</td><td>Device connectivity: LORAWAN or CELLULAR</td></tr>
                      <tr><td>E</td><td>LORAWAN: supported ISM bands (comma-separated list)<br/>CELLULAR: n/a</td></tr>
                    </tbody>
                  </table></html>
        default:
          $ref: '#/components/responses/Error'
    parameters: []
  '/subscriptions/mine/deviceVendors':
    get:
      tags:
        - device-profiles
      summary: Retrieve DeviceVendors
      description: |
        Retrieve the list of Device Vendors accessible to the Subscription.

        ### Access rights:
        - `<Subscription>/x`
      parameters:
        - $ref: '#/components/parameters/PageIndex'
        - name: name
          deprecated: true
          in: query
          description: |
            Device Vendor name filtering (prefix match)

            This parameter must no longer be used: name filtering is limited to the en-US language.
          schema:
            type: string
        - name: ID
          in: query
          description: Device Vendor ID filtering (exact match)
          schema:
            type: array
            items:
              type: string
        - name: connectivity
          in: query
          description: |
            Only return Device Vendors having at least one Device Profile
            supporting this connectivity (exact match).

            `CELLULAR` is only applicable to **ThingPark Wireless** if the
            cellular connectivity is enabled by the Operator.
          schema:
            enum:
              - LORAWAN
              - CELLULAR
            type: string
        - name: ismBandID
          in: query
          description: >
            ISM band ID filtering (exact match)


            Only return Device Vendors having at least one Device Profile supporting this ISM band

            If multiple ismBandID, return Device Vendors having at least one Device Profile supporting any of ISM Band
          schema:
            type: array
            items:
              $ref: '#/components/schemas/IsmBandID'
        - name: sort
          in: query
          description: >
            Defines how results are sorted:

            - BY_NAME: Device Vendors are ordered by name (lexicographic order)

            - BY_LAST_CREATED: Device Vendors of last created Devices are

            returned first (reverse creation date order) then remaining Device

            Vendors are ordered by name (lexicographic order)


            When this query parameter is not specified, BY_NAME is used by default.
          schema:
            enum:
              - BY_NAME
              - BY_LAST_CREATED
            type: string
        - $ref: '#/components/parameters/Language-tag'
      responses:
        '200':
          $ref: '#/components/responses/DeviceVendors'
        default:
          $ref: '#/components/responses/Error'
    parameters: []
  '/subscriptions/mine/devices':
    get:
      tags:
        - devices
      summary: Retrieve Devices
      description: |
        Retrieve the list of long range Devices attached to a Subscription.

        Two pagination modes are available:
        * *Offset-based pagination* relies on `pageSize` and `pageIndex` query
          parameters
          * Allows to reach a page based on its index but the total number of
            devices that can be retrieved is limited
          * `pageIndex` must contain the index of the requested page
          * Compatible with any sort criteria
        * *Cursor-based pagination* relies on `pageSize` and `pageAfter` query
          parameters
          * Allows to retrieve all pages one after the other: this mode ensure
            that no device is skipped when iterating over all pages
          * To retrieve the next page, `pageAfter` must contain the cursor of
            the last item of the current page
          * Only compatible with sort by DevEUI/IMEI

        ### Access rights:
        - `<Subscription>/x`
        - `LPWA_MGR::READ_NODE`
        - If the authenticated user has domain restrictions, only devices
          matching the domain restrictions can be retrieved.
      x-rateLimit:
        category: MEDIUM_IMPACT
      parameters:
        - $ref: '#/components/parameters/PageAfter'
        - $ref: '#/components/parameters/PageIndex'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/Language-tag'
        - $ref: '#/components/parameters/DevEUIFilter'
        - $ref: '#/components/parameters/DeviceNameFilter'
        - $ref: '#/components/parameters/DeviceConnectivityPlanFilter'
        - $ref: '#/components/parameters/DeviceNetworkSubscriptionIDFilter'
        - $ref: '#/components/parameters/DeviceNwGeolocalizationFilter'
        - $ref: '#/components/parameters/DevicePrAllowedFilter'
        - $ref: '#/components/parameters/DeviceBatteryLevel'
        - $ref: '#/components/parameters/DeviceInfRSSI'
        - $ref: '#/components/parameters/DeviceInfSNR'
        - $ref: '#/components/parameters/DeviceSupSNR'
        - $ref: '#/components/parameters/DeviceAlarmLevel'
        - name: minLat
          in: query
          description: >
            Only returns Devices that match the geolocation rectangle
            (minLat/minLon/maxLat/maxLon).


            When no localization query parameter are set, non-localized devices will be also returned.
          schema:
            type: number
            format: float
        - name: minLon
          in: query
          description: >
            Only returns Devices that match the geolocation rectangle
            (minLat/minLon/maxLat/maxLon).


            When no localization query parameter are set, non-localized devices will be also returned.
          schema:
            type: number
            format: float
        - name: maxLat
          in: query
          description: >
            Only returns Devices that match the geolocation rectangle
            (minLat/minLon/maxLat/maxLon).


            When no localization query parameter are set, non-localized devices will be also returned.
          schema:
            type: number
            format: float
        - name: maxLon
          in: query
          description: >
            Only returns Devices that match the geolocation rectangle
            (minLat/minLon/maxLat/maxLon).


            When no localization query parameter are set, non-localized devices will be also returned.
          schema:
            type: number
            format: float
        - $ref: '#/components/parameters/DeviceHealthState'
        - $ref: '#/components/parameters/DeviceAppServerID'
        - $ref: '#/components/parameters/DeviceConnectivity'
        - $ref: '#/components/parameters/DeviceQuery'
        - $ref: '#/components/parameters/DeviceFrom'
        - $ref: '#/components/parameters/DeviceTo'
        - $ref: '#/components/parameters/DeviceTag'
        - $ref: '#/components/parameters/Domain'
        - name: sort
          in: query
          description: |
            Defines how results are sorted (&lt;attribute&gt;,&lt;order&gt;).

            The following attributes are supported:
            - 'name': by name
            - 'avgSNR': by average SNR
            - 'avgESP': by average ESP
            - 'lastSF': by spreading factor of the last uplink frame
            - 'lastUpTimestamp': by timestamp of the last downlink frame
            - 'lastDwTimestamp': by timestamp of the last uplink frame
            - 'lastBatLevel': by battery level
            - 'creationDate': by date of creation of the device
            - 'lastMeanPER': by last mean PER without consideration for LRRs
            - 'EUI': by DevEUI/IMEI

            The following orders are supported:
            - 'asc': ascending order
            - 'desc': descending order

            By default, results are sorted by creation date ascending order.
          schema:
            type: string
            example: name,asc
      responses:
        '200':
          $ref: '#/components/responses/Devices'
        default:
          $ref: '#/components/responses/Error'
    post:
      tags:
        - devices
      summary: Create Device
      description: |
        Create a Device.

        ### Access rights:
        - `<Subscription>/a`
        - If the authenticated user has domain restrictions, the device must
          match the domain restrictions.
      x-rateLimit:
        category: MEDIUM_IMPACT
      parameters:
        - $ref: '#/components/parameters/Async'
        - $ref: '#/components/parameters/NetworkSubscriptionsHandlingMode'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Device'
            examples:
              TpeLorawanOTAA:
                $ref: '#/components/examples/DeviceTpeLorawanOtaaPost'
              TpeLorawanABP:
                $ref: '#/components/examples/DeviceTpeLorawanAbpPost'
        required: true
      responses:
        '201':
          $ref: '#/components/responses/Device'
        '202':
          $ref: '#/components/responses/Async'
        default:
          $ref: '#/components/responses/Error'
    parameters: []
  '/subscriptions/mine/devices/alarms':
    get:
      tags:
        - devices
      summary: Retrieve Alarms of all Devices
      description: |
        Retrieve a list of alarms associated with all devices.
        Alarms are filtered and sorted according to the query parameters.

        For more information about possible alarms, see <a href="./alarms.html" target="_blank">Alarms</a>.

        ### Access rights:
        - `<Subscription>/x`
        - `LPWA_MGR::READ_NODE`
        - If the authenticated user has domain restrictions, only alarms of
          devices matching the domain restrictions can be retrieved.
      parameters:
        - $ref: '#/components/parameters/PageIndex'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/Language-tag'
        - $ref: '#/components/parameters/TimestampFrom'
        - $ref: '#/components/parameters/TimestampTo'
        - $ref: '#/components/parameters/AlarmID'
        - $ref: '#/components/parameters/AlarmUid'
        - name: devEUI
          in: query
          description: DevEUI filtering (prefix match)
          schema:
            type: array
            items:
              type: string
        - name: state
          in: query
          description: >
            State of the alarm:

            - 6: CRITICAL 

            - 5: MAJOR

            - 4: MINOR

            - 3: WARNING

            - 2: INDETERMINATE

            - 1: CLEARED


            The state filtering strategy is defined by the query parameter stateFiltering

            Note: When this query parameter is not specified, alarms  are returned without consideration for the state (i.e. alarms can be UNCLEARED or CLEARED)
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 6
        - name: stateFiltering
          in: query
          description: >
            Alarm state filtering strategy:

            - 'EQUAL_OR_UPPER': Only returns alarms for which the state is equal to or upper than the provided level in query parameter state

            - 'EQUAL': Only returns alarms for which the state is equal to the provided level in query parameter state


            By default, 'EQUAL_OR_UPPER' mode is used.
          schema:
            type: string
            enum:
              - EQUAL_OR_UPPER
              - EQUAL
            default: EQUAL_OR_UPPER
        - $ref: '#/components/parameters/AlarmAcked'
        - $ref: '#/components/parameters/Domain'
        - name: sort
          in: query
          description: >
            Defines how results are sorted (&lt;attribute&gt;,&lt;order&gt;).


            The following attributes are supported:

            - 'state': results are sorted by state then by update timestamp (decreasing order)

            - 'acked': results are sorted by acked status then by update timestamp (decreasing order)


            The following orders are supported:

            - 'asc': ascending order

            - 'desc': descending order


            By default, results are sorted by update timestamp (decreasing order)
          schema:
            type: string
            example: state,desc
        - name: limit
          in: query
          description: >
            Limit the number of results. By default, no limit is applied.
          schema:
            type: integer
            format: int32
      responses:
        '200':
          $ref: '#/components/responses/AlarmsDeviceActive'
        default:
          $ref: '#/components/responses/Error'
    parameters: []
  '/subscriptions/mine/devices/alarms/ack':
    post:
      tags:
        - devices
      summary: Ack Alarms of all Devices
      description: |
        Acknowledge a list of alarms associated with all devices.
        Alarms to acknowledge are identified by their Uids.

        ### Access rights:
        - `<Subscription>/a`
        - `LPWA_MGR::WRITE_NODE`
        - If the authenticated user has domain restrictions, only alarms of
          devices matching the domain restrictions can be acknowledged.
      requestBody:
        $ref: '#/components/requestBodies/AlarmsDevicesAck'
      responses:
        '204':
          description: Operation success
        default:
          $ref: '#/components/responses/Error'
    parameters: []
  '/subscriptions/mine/devices/alarms/histories':
    get:
      tags:
        - devices
      summary: Retrieve Alarms History of all Devices
      description: |
        Retrieve the alarms history (cleared alarms) associated with all devices.
        Alarms are filtered according to the query parameters.
        Alarms are sorted by clearance timestamp in descending order.

        For more information about possible alarms, see <a href="./alarms.html" target="_blank">Alarms</a>.

        ### Access rights:
        - `<Subscription>/x`
        - `LPWA_MGR::READ_NODE`
        - If the authenticated user has domain restrictions, only alarms of
          devices matching the domain restrictions can be retrieved.
      parameters:
        - $ref: '#/components/parameters/PageIndex'
        - $ref: '#/components/parameters/Language-tag'
        - $ref: '#/components/parameters/TimestampFrom'
        - $ref: '#/components/parameters/TimestampTo'
        - $ref: '#/components/parameters/AlarmID'
        - $ref: '#/components/parameters/AlarmUid'
        - $ref: '#/components/parameters/AlarmIndex'
        - $ref: '#/components/parameters/AlarmHistoryState'
        - $ref: '#/components/parameters/AlarmAcked'
        - name: devEUI
          in: query
          description: DevEUI filtering (prefix match)
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          $ref: '#/components/responses/AlarmsDevice'
        default:
          $ref: '#/components/responses/Error'
    parameters: []
  '/subscriptions/mine/devices/alarms/stateDistributions':
    get:
      tags:
        - devices
      summary: Retrieve Alarm States Distribution of all Devices
      description: |
        Retrieve the states distribution of alarms associated with all devices.
        Alarms are filtered according to the query parameters.

        ### Access rights:
        - `<Subscription>/x`
        - `LPWA_MGR::READ_NODE`
        - If the authenticated user has domain restrictions, only alarms of
          devices matching the domain restrictions are counted.
      x-rateLimit:
        category: MEDIUM_IMPACT
      parameters:
        - $ref: '#/components/parameters/TimestampFrom'
        - $ref: '#/components/parameters/TimestampTo'
        - $ref: '#/components/parameters/AlarmState'
        - $ref: '#/components/parameters/AlarmAcked'
      responses:
        '200':
          $ref: '#/components/responses/AlarmsDevicesStateDistributions'
        default:
          $ref: '#/components/responses/Error'
    parameters: []
  '/subscriptions/mine/devices/clusters':
    parameters: []
    get:
      tags:
        - devices
      summary: Retrieve Devices clusters
      description: |
        Retrieve the list of devices attached to the subscription
        having known geographical coordinates. Devices that are close
        to each other are grouped in the same cluster.
        Distance threshold to group two devices in the same cluster is
        evaluated to ensure that at most 64 clusters are returned for the 
        given bounding box.

        ### Access rights:
        - `<Subscription>/x`
        - `LPWA_MGR::READ_NODE`
        - If the authenticated user has domain restrictions, only devices
          matching the domain restrictions can be retrieved.
      x-rateLimit:
        category: HIGH_IMPACT
      parameters:
        - $ref: '#/components/parameters/Language-tag'
        - name: minLat
          in: query
          required: true
          description: >
            Only returns devices that match the geolocation rectangle.
          schema:
            type: number
            format: float
        - name: minLon
          in: query
          required: true
          description: >
            Only returns devices that match the geolocation rectangle.
          schema:
            type: number
            format: float
        - name: maxLat
          in: query
          required: true
          description: >
            Only returns devices that match the geolocation rectangle.
          schema:
            type: number
            format: float
        - name: maxLon
          in: query
          required: true
          description: >
            Only returns devices that match the geolocation rectangle.
          schema:
            type: number
            format: float
        - $ref: '#/components/parameters/DevEUIFilter'
        - $ref: '#/components/parameters/DeviceNameFilter'
        - $ref: '#/components/parameters/DeviceConnectivityPlanFilter'
        - $ref: '#/components/parameters/DeviceNetworkSubscriptionIDFilter'
        - $ref: '#/components/parameters/DeviceNwGeolocalizationFilter'
        - $ref: '#/components/parameters/DevicePrAllowedFilter'
        - $ref: '#/components/parameters/DeviceBatteryLevel'
        - $ref: '#/components/parameters/DeviceInfRSSI'
        - $ref: '#/components/parameters/DeviceInfSNR'
        - $ref: '#/components/parameters/DeviceSupSNR'
        - $ref: '#/components/parameters/DeviceAlarmLevel'
        - $ref: '#/components/parameters/DeviceHealthState'
        - $ref: '#/components/parameters/DeviceAppServerID'
        - $ref: '#/components/parameters/DeviceConnectivity'
        - $ref: '#/components/parameters/DeviceQuery'
        - $ref: '#/components/parameters/DeviceFrom'
        - $ref: '#/components/parameters/DeviceTo'
        - $ref: '#/components/parameters/DeviceTag'
        - $ref: '#/components/parameters/Domain'
      responses:
        '200':
          $ref: '#/components/responses/DevicesClusters'
        default:
          $ref: '#/components/responses/Error'
  '/subscriptions/mine/devices/counters':
    get:
      tags:
        - devices
      summary: Retrieve Counters
      description: |
        Retrieve the number of Devices per health state.

        ### Access rights:
        - `<Subscription>/x`
        - If the authenticated user has domain restrictions, only devices
          matching the domain restrictions are counted.
      x-rateLimit:
        category: MEDIUM_IMPACT
      responses:
        '200':
          $ref: '#/components/responses/Counters'
        default:
          $ref: '#/components/responses/Error'
    parameters: []
  '/subscriptions/mine/devices/domains':
    post:
      tags:
        - devices
      summary: Associate Domains with Devices
      description: |
        Add or remove a list of domains on a list of Devices.

        When adding a domain, any existing domain belonging to the same group is
        replaced by the new one.

        When removing a domain, no error is returned if the domain is not
        associated with a subset or all targeted Devices.

        ### Access rights:
        - `<Subscription>/a`
        - If the authenticated user has domain restrictions, devices must match
          the domain restrictions before and after the operation.
      requestBody:
        $ref: '#/components/requestBodies/DevicesDomains'
      responses:
        '204':
          description: Operation success
        default:
          $ref: '#/components/responses/Error'
    parameters: []
  '/subscriptions/mine/devices/frames':
    get:
      tags:
        - devices
      summary: Retrieve FramesDevices
      description: |
        Retrieve the uplink and downlink frames history:
        - Number of uplink and downlink frame per aggregated time slot,
        - Cumulated payload size (expressed in bytes) for uplink and downlink
          frame per aggregated time slot.

        ### Access rights:
        - `<Subscription>/x`
        - `LPWA_MGR::READ_NODE`
        - If the authenticated user has domain restrictions, only frames of
          devices matching the domain restrictions can be retrieved.
      x-rateLimit:
        category: MEDIUM_IMPACT
      parameters:
        - name: appServerID
          in: query
          description: Application Server ID filtering (exact match)
          schema:
            type: string
        - name: begin
          in: query
          description: >
            Date/time of the first frame to retrieve.


            Syntax: ISO 8601 date/time including time offset. If no time offset is provided the server's offset is used by default.


            Default value: When this query parameter is not specified the last frames are retrieved by default.
          schema:
            type: string
            format: date-time
        - name: duration
          in: query
          description: >
            Window duration to retrieve.


            Default value: When this query parameter is not specified, the **P7D** duration is used by default.


            Supported duration value: **PxD** (x days) and **PTxH** (x hours)
          schema:
            type: string
        - $ref: '#/components/parameters/AggregationStep'
        - name: type
          in: query
          description: |
            Type of the frames to consider: 

            - 0: Uplink
            - 1: downlink 
            - 4: Microflow event frame indicator.

            Multiple type query parameters can be encoded in the URI: all specified frames are considered.

            By default all frames are considered.
          schema:
            type: array
            items:
              type: integer
              enum:
                - 0
                - 1
                - 4
        - $ref: '#/components/parameters/Timezone'
      responses:
        '200':
          $ref: '#/components/responses/FramesDevices'
        default:
          $ref: '#/components/responses/Error'
    parameters: []
  '/subscriptions/mine/devices/import':
    parameters: []
    post:
      tags:
        - devices
      summary: Create Import
      description: |
        Create and delete devices in bulk.

        The device importation CSV file is directly transported in the HTTP
        payload.

        ### Access rights:
        - `<Subscription>/a`
        - If the authenticated user has domain restrictions, the import must
          match the domain restrictions.
      x-rateLimit:
        category: HIGH_IMPACT
      parameters:
        - $ref: '#/components/parameters/Async'
        - name: forceDevAddrs
          description: |
            When enabled, DevAddr of OTAA devices present in the import file are assigned permanently. When disabled, 
            a different DevAddr is used on join request if it is not part of the DevAddr pool.
          in: query
          required: false
          schema:
            type: boolean
            default: true
        - name: domain
          in: query
          description: |
            List of domains associated with the import file:
            - Created devices are associated with the domains after creation
            - Deleted devices must be associated with the domains to be deleted

            The list cannot contain more than one domain for a given group.

            For each domain, domain group name and domain name must be provided
            as follow: `domain.group.name`:`domain.name`
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
            example:
              - Site:France/Caen
              - Vertical:Location
        - $ref: '#/components/parameters/NetworkSubscriptionsHandlingMode'
      requestBody:
        description: |
          The device importation CSV file is directly transported in the HTTP
          payload
        content:
          multipart/form-data:
            example:
              csv: |
                -----------------------------9051914041544843365972754266
                Content-Disposition: form-data; name="csv"; filename="myimport.csv"
                Content-Type: text/csv

                CREATE_OTAA,F03D291000F00001,,semtech/loramote-v1,8899AABBCCDDEEFF,8899AABBCCDDEEFF8899AABBCCDDEEFF,,,,,My first device,50.859988,4.35826,"Mme Michu, Appt 434 3ième gauche, 8 rue de fleurs, Toulouse",,,,,
                CREATE_OTAA,F03D291000F00002,,FOXCONN/ZB11A.1_AS,1234AABBCCDDEEFF,1234AABBCCDDEEFF8899AABBCCDDEEFF,,,,,Another device,49.188684,-0.292058,"John Doe 123 Main St Anytown, USA",,,,,
                DELETE,F03D291000F00003
            schema:
              type: object
              properties:
                csv:
                  type: string
                  format: binary
                  description: >
                    ## The device importation CSV file defines the following
                    column for **ABP** activation:

                    <html><table>
                      <thead><tr><th><strong>Column</strong></th><th><strong>Definition</strong></th><th><strong>Cardinality</strong></th></tr></thead>
                      <tbody>
                        <tr>
                          <td>A</td>
                          <td><em>Processing directive (# for comments)</em></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td>B</td>
                          <td>LoRaWAN DevEUI</td>
                          <td><strong>Mandatory</strong></td>
                        </tr>
                        <tr>
                          <td>C</td>
                          <td>LoRaWAN DevAddr</td>
                          <td><strong>Mandatory</strong></td>
                        </tr>
                        <tr>
                          <td>D</td>
                          <td>Device profile ID</td>
                          <td><strong>Mandatory</strong></td>
                        </tr>
                        <tr>
                          <td>E</td>
                          <td>LoRaWAN FNwkSIntKey/NwkSKey<br/>Supported encoding modes:</br/>
                            <ul>
                              <li>Clear text (hexadecimal encoding)</li>
                              <li>Encrypted with TWA Exchange Key (RSA) version specified in column X (base64 encoding)</li>
                            </ul>
                          </td>
                          <td><strong>Mandatory</strong></td>
                        </tr>
                        <tr>
                          <td>F</td>
                          <td>LoRaWAN AppSKeys<br/>Supported encoding modes:</br/>
                            <ul>
                              <li>Clear text (hexadecimal encoding)</li>
                              <li>Encrypted with TWA Exchange Key (RSA) version specified in column X (base64 encoding)</li>
                            </ul>
                          </td>
                          <td><strong>Optional</strong></td>
                        </tr>
                        <tr>
                          <td>G</td>
                          <td>ThingPark X configuration</td>
                          <td><strong>Optional</strong>.<br/>
                              Not applicable to <strong>ThingPark Enterprise</strong>.</td>
                        </tr>
                        <tr>
                          <td>H</td>
                          <td>
                            Network Subscription associated with the device.<br/>
                            The selection of the network subscription depends on
                            networkSubscriptionsHandlingMode query parameter:<br/>
                            <ul>
                              <li>BASIC: Provide a comma-separated list of features to automatically select the network subscription.
                                  Available features are 'NetworkGeolocation' and 'PassiveRoaming'. If empty, the network subscription
                                  without 'NetworkGeolocation' and 'PassiveRoaming' features is selected. If several network subscriptions match,
                                  the network subscription with the oldest subscription date is selected. Only applicable to ThingPark Enterprise.</li>
                              <li>ADVANCED: Provide the ID of the network subscription. If empty, the device is not associated with
                                  a network subscription and is automatically suspended: all its packets are ignored by the network server.</li>
                            </ul>
                          </td>
                          <td><strong>Optional</strong></td>
                        </tr>
                        <tr>
                          <td>I</td>
                          <td>
                            AS routing profile ID<br/>
                            If both columns I and T are empty, the default LoRaWAN AS routing profile is automatically selected.
                            This automatic selection feature is deprecated and will be removed in ThingPark release 8.0: we strongly recommend to
                            explicitely specify the AS routing profile ID in this column.
                          </td>
                          <td><strong>Optional</strong>.<br/>
                              Not applicable to <strong>ThingPark Enterprise</strong>.</td>
                        </tr>
                        <tr>
                          <td>J</td>
                          <td>Maker ID</td>
                          <td><strong>Optional</strong>. The default maker will be used when no marker are specified at the creation.<br/>
                              Not applicable to <strong>ThingPark Enterprise</strong>.</td>
                        </tr>
                        <tr>
                          <td>K</td>
                          <td>Device name</td>
                          <td><strong>Optional</strong>. The name is generated when not provided at the creation.</td>
                        </tr>
                        <tr>
                          <td>L</td>
                          <td>Admin LAT</td>
                          <td><strong>Optional</strong>. When provided at the creation, the manual location is automatically activated, otherwise the network location is activated by default.</td>
                        </tr>
                        <tr>
                          <td>M</td>
                          <td>Admin LON</td>
                          <td></td>
                        </tr>
                        <tr>
                          <td>N</td>
                          <td>Other admin info</td>
                          <td><strong>Optional</strong></td>
                        </tr>
                        <tr>
                          <td>O</td>
                          <td>Alarm 004 configuration:
                            <ul>
                              <li>The root XML element is alarm004</li>
                              <li>The enclosed threshold1 self-closing XML element configures the first threshold of the alarm</li>
                              <li>The enclosed threshold2 self-closing XML element configures the second threshold of the alarm</li>
                              <li>For each threshold XML element the following attributes are available:
                                <ul>
                                  <li>status: ENABLE or DISABLE this threshold</li>
                                  <li>level: severity (2-6) of the alarm for this threshold</li>
                                  <li>duration: inactivity period (RFC 3339 duration between PT1H and P30D) after which the alarm is triggered for this threshold</li>
                                </ul>
                              </li>
                              <li>The following constraints must be satisfied:
                                <ul>
                                  <li>threshold2@status can be set to ENABLE only if threshold1@status is ENABLE</li>
                                  <li>threshold1@level must be lower than threshold2@level</li>
                                  <li>threshold1@duration must be lower than threshold2@duration</li>
                                </ul>
                              </li>
                            </ul>
                          </td>
                          <td><strong>Optional</strong></td>
                        </tr>
                        <tr>
                          <td>P</td>
                          <td>ADM verification code (optional)</td>
                          <td><strong>Optional</strong>. Must be provided if the <strong>"ABP address validation"</strong> option is activated on the associated device manager subscription.<br/>
                              Not applicable to <strong>ThingPark Enterprise</strong>.</td>
                        </tr>
                        <tr>
                          <td>Q</td>
                          <td>Motion indicator</td>
                          <td><strong>Optional</strong>. The motion indicator of the device profile will be used when no motion indicator is specified at the creation.</td>
                        </tr>
                        <tr>
                          <td>R</td>
                          <td>n/a</td>
                          <td></td>
                        </tr>
                        <tr>
                          <td>S</td>
                          <td>n/a</td>
                          <td></td>
                        </tr>
                        <tr>
                          <td>T</td>
                          <td>Application server IDs</td>
                          <td><strong>Optional</strong><br/>
                              <strong>Forbidden</strong> if AS routing profile ID (I) is provided.<br/>
                              Multiple application server IDs may be provided, separated by a comma.<br/>
                              If the authenticated user has domain restrictions, only the following application servers can be associated with a device:<br/>
                              <ul>
                                <li>Application servers not associated with any domain</li>
                                <li>Application servers associated with domains and matching the domain restrictions</li>
                              </ul>
                          </td>
                        </tr>
                        <tr>
                          <td>U</td>
                          <td>LoRaWAN SNwkSIntKey<br/>Supported encoding modes:</br/>
                            <ul>
                              <li>Clear text (hexadecimal encoding)</li>
                              <li>Encrypted with TWA Exchange Key (RSA) version specified in column X (base64 encoding)</li>
                            </ul>
                          </td>
                          <td><strong>Mandatory</strong> for LoRaWAN 1.1 device, <strong>Forbidden</strong> otherwise.</td>
                        </tr>
                        <tr>
                          <td>V</td>
                          <td>LoRaWAN NwkSEncKey<br/>Supported encoding modes:</br/>
                            <ul>
                              <li>Clear text (hexadecimal encoding)</li>
                              <li>Encrypted with TWA Exchange Key (RSA) version specified in column X (base64 encoding)</li>
                            </ul>
                          </td>
                          <td><strong>Mandatory</strong> for LoRaWAN 1.1 device, <strong>Forbidden</strong> otherwise.</td>
                        </tr>
                        <tr>
                          <td>W</td>
                          <td>n/a</td>
                          <td></td>
                        </tr>
                        <tr>
                          <td>X</td>
                          <td>TWA Exchange Key (RSA) version used to encrypt the FNwkSIntKey/NwkSKey, the AppSKeys, the SNwkSIntKey and the NwkSEncKey</td>
                          <td><strong>Optional</strong>.<br/>
                              Not applicable to <strong>ThingPark Enterprise</strong>.</td>
                        </tr>
                        <tr>
                          <td>Y</td>
                          <td>n/a</td>
                          <td></td>
                        </tr>
                        <tr>
                          <td>Z</td>
                          <td>Protocol Identifier</td>
                          <td><strong>Optional</strong>. The default Protocol Identifier defined in Device Profile will be used when no Protocol Identifier is specified at the creation.</td>
                        </tr>
                        <tr>
                          <td>AA</td>
                          <td>Device state</td>
                          <td><strong>Optional</strong></td>
                        </tr>
                      </tbody>
                    </table>

                    <br/></html>


                    ## The device importation CSV file defined the following column for **OTAA** activation:

                    <html><table>
                      <thead><tr><th><strong>Column</strong></th><th><strong>Definition</strong></th><th><strong>Cardinality</strong></th></tr></thead>
                      <tbody>
                        <tr>
                          <td>A</td>
                          <td><em>Processing directive (# for comments)</em></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td>B</td>
                          <td>LoRaWAN DevEUI or onboarding tag</td>
                          <td><strong>Mandatory</strong></td>
                        </tr>
                        <tr>
                          <td>C</td>
                          <td>LoRaWAN DevAddr</td>
                          <td><strong>Optional</strong>.<br/>
                              Not applicable to <strong>ThingPark Enterprise</strong>.</td>
                        </tr>
                        <tr>
                          <td>D</td>
                          <td>Device profile ID</td>
                          <td><strong>Mandatory</strong> if a DevEUI is provided in column B, <strong>Optional</strong> otherwise</td>
                        </tr>
                        <tr>
                          <td>E</td>
                          <td>LoRaWAN JoinEUI/AppEUI</td>
                          <td><strong>Optional</strong> if Local Join Server is used, <strong>Mandatory</strong> otherwise.</td>
                        </tr>
                        <tr>
                          <td>F</td>
                          <td>LoRaWAN AppKey<br/>Supported encoding modes:</br/>
                            <ul>
                              <li>Clear text (hexadecimal encoding)</li>
                              <li>Encrypted with HSM Application Key (AES) version specified in column S (hexadecimal encoding)</li>
                              <li>Encrypted with HSM or TWA Exchange Key (RSA) version specified in column X (base64 encoding)</li>
                            </ul>
                          </td>
                          <td><strong>Local Join Server</strong> is used when provided, <strong>External Join Server</strong> is used otherwise.</td>
                        </tr>
                        <tr>
                          <td>G</td>
                          <td>ThingPark X configuration</td>
                          <td><strong>Optional</strong>.<br/>
                              Not applicable to <strong>ThingPark Enterprise</strong>.</td>
                        </tr>
                        <tr>
                          <td>H</td>
                          <td>
                            Network Subscription associated with the device.<br/>
                            The selection of the network subscription depends on
                            networkSubscriptionsHandlingMode query parameter:<br/>
                            <ul>
                              <li>BASIC: Provide a comma-separated list of features to automatically select the network subscription.
                                  Available features are 'NetworkGeolocation' and 'PassiveRoaming'. If empty, the network subscription
                                  without 'NetworkGeolocation' and 'PassiveRoaming' features is selected. If several network subscriptions match,
                                  the network subscription with the oldest subscription date is selected. Only applicable to ThingPark Enterprise.</li>
                              <li>ADVANCED: Provide the ID of the network subscription. If empty, the device is not associated with
                                  a network subscription and is automatically suspended: all its packets are ignored by the network server.</li>
                            </ul>
                          </td>
                          <td><strong>Optional</strong></td>
                        </tr>
                        <tr>
                          <td>I</td>
                          <td>
                            AS routing profile ID<br/>
                            If both columns I and T are empty, the default LoRaWAN AS routing profile is automatically selected.
                            This automatic selection feature is deprecated and will be removed in ThingPark release 8.0: we strongly recommend to
                            explicitely specify the AS routing profile ID in this column.
                          </td>
                          <td><strong>Optional</strong>.<br/>
                              Not applicable to <strong>ThingPark Enterprise</strong>.</td>
                        </tr>
                        <tr>
                          <td>J</td>
                          <td>Maker ID</td>
                          <td><strong>Optional</strong>. The default maker will be used when no marker are specified at the creation.<br/>
                              Not applicable to <strong>ThingPark Enterprise</strong>.</td>
                        </tr>
                        <tr>
                          <td>K</td>
                          <td>Device name</td>
                          <td><strong>Optional</strong>. The name is generated when not provided at the creation.</td>
                        </tr>
                        <tr>
                          <td>L</td>
                          <td>Admin LAT</td>
                          <td><strong>Optional</strong>. When provided at the creation, the manual location is automatically activated, otherwise the network location is activated by default.</td>
                        </tr>
                        <tr>
                          <td>M</td>
                          <td>Admin LON</td>
                          <td></td>
                        </tr>
                        <tr>
                          <td>N</td>
                          <td>Other admin info</td>
                          <td><strong>Optional</strong></td>
                        </tr>
                        <tr>
                          <td>O</td>
                          <td>Alarm 004 configuration:
                            <ul>
                              <li>The root XML element is alarm004</li>
                              <li>The enclosed threshold1 self-closing XML element configures the first threshold of the alarm</li>
                              <li>The enclosed threshold2 self-closing XML element configures the second threshold of the alarm</li>
                              <li>For each threshold XML element the following attributes are available:
                                <ul>
                                  <li>status: ENABLE or DISABLE this threshold</li>
                                  <li>level: severity (2-6) of the alarm for this threshold</li>
                                  <li>duration: inactivity period (RFC 3339 duration between PT1H and P30D) after which the alarm is triggered for this threshold</li>
                                </ul>
                              </li>
                              <li>The following constraints must be satisfied:
                                <ul>
                                  <li>threshold2@status can be set to ENABLE only if threshold1@status is ENABLE</li>
                                  <li>threshold1@level must be lower than threshold2@level</li>
                                  <li>threshold1@duration must be lower than threshold2@duration</li>
                                </ul>
                              </li>
                            </ul>
                          </td>
                          <td><strong>Optional</strong></td>
                        </tr>
                        <tr>
                          <td>P</td>
                          <td>ADM verification code (optional)</td>
                          <td><strong>Optional</strong>. Must be provided if the <strong>"OTAA address validation"</strong> option is activated on the associated device manager subscription.<br/>
                              Not applicable to <strong>ThingPark Enterprise</strong>.</td>
                        </tr>
                        <tr>
                          <td>Q</td>
                          <td>Motion indicator</td>
                          <td><strong>Optional</strong>. The motion indicator of the device profile will be used when no motion indicator is specified at the creation.</td>
                        </tr>
                        <tr>
                          <td>R</td>
                          <td>HSM group ID</td>
                          <td><strong>Optional</strong> if Local Join Server is used, <strong>Forbidden</strong> otherwise.<br/>
                              Not applicable to <strong>ThingPark Enterprise</strong>.</td>
                        </tr>
                        <tr>
                          <td>S</td>
                          <td>HSM Application Key version</td>
                          <td>HSM application key version used to encrypt AppKey. <strong>Optional</strong> if Local Join Server is used, <strong>Forbidden</strong> otherwise.<br/>
                              Not applicable to <strong>ThingPark Enterprise</strong>.</td>
                        </tr>
                        <tr>
                          <td>T</td>
                          <td>Application server IDs</td>
                          <td><strong>Optional</strong><br/>
                              <strong>Forbidden</strong> if AS routing profile ID (I) is provided.<br/>
                              Multiple application server IDs may be provided, separated by a comma.<br/>
                              If the authenticated user has domain restrictions, only the following application servers can be associated with a device:<br/>
                              <ul>
                                <li>Application servers not associated with any domain</li>
                                <li>Application servers associated with domains and matching the domain restrictions</li>
                              </ul>
                          </td>
                        </tr>
                        <tr>
                          <td>U</td>
                          <td>LoRaWAN NwkKey<br/>Supported encoding modes:<br/>
                            <ul>
                              <li>Clear text (hexadecimal encoding)</li>
                              <li>Encrypted with HSM Network Key (AES) version specified in column V (hexadecimal encoding)</li>
                              <li>Encrypted with HSM or TWA Exchange Key (RSA) version specified in column X (base64 encoding)</li>
                            </ul>
                          </td>
                          <td><strong>Mandatory</strong> for LoRaWAN 1.1 device if Local Join Server is used, <strong>Forbidden</strong> otherwise.<br/>
                              Not applicable to <strong>ThingPark Enterprise</strong>.</td>
                        </tr>
                        <tr>
                          <td>V</td>
                          <td>HSM Network Key version</td>
                          <td><strong>Optional</strong> for LoRaWAN 1.1 device if Local Join Server is used, <strong>Forbidden</strong> otherwise.<br/>
                              Not applicable to <strong>ThingPark Enterprise</strong>.</td>
                        </tr>
                        <tr>
                          <td>W</td>
                          <td>n/a</td>
                          <td></td>
                        </tr>
                        <tr>
                          <td>X</td>
                          <td>HSM or TWA Exchange Key (RSA) version used to encrypt the AppKey and the NwkKey</td>
                          <td><strong>Optional</strong> if Local Join Server is used, <strong>Forbidden</strong> otherwise.</td>
                        </tr>
                        <tr>
                          <td>Y</td>
                          <td>Owner Token</td>
                          <td><strong>Optional</strong> if External Join Server is used, <strong>Forbidden</strong> otherwise.</td>
                        </tr>
                        <tr>
                          <td>Z</td>
                          <td>Protocol Identifier</td>
                          <td><strong>Optional</strong>. The default Protocol Identifier defined in Device Profile will be used when no Protocol Identifier is specified at the creation.</td>
                        </tr>
                        <tr>
                          <td>AA</td>
                          <td>Device state</td>
                          <td><strong>Optional</strong></td>
                        </tr>
                      </tbody>
                    </table> </br></html>


                    ## The device importation CSV file defines the following column for Cellular Device:

                    <html><table>
                      <thead><tr><th><strong>Column</strong></th><th><strong>Definition</strong></th><th><strong>Cardinality</strong></th></tr></thead>
                      <tbody>
                        <tr><td>A</td><td><em>Processing directive (# for comments)</em></td><td></td></tr>
                        <tr><td>B</td><td>IMEI terminal identifier (15 or 14 digits)</td><td><strong>Mandatory</strong></td></tr>
                        <tr><td>C</td><td>IMSI of the SIM card</td><td><strong>Mandatory</strong></td></tr>
                        <tr><td>D</td><td>Device profile ID</td><td><strong>Mandatory</strong></td></tr>
                        <tr>
                          <td>E</td>
                          <td>Secret key of the SIM card (Ki)<br/>Supported encoding modes:<br/>
                            <ul>
                              <li>Clear text (hexadecimal encoding)</li>
                              <li>Encrypted with TWA Exchange Key (RSA) version specified in column X (base64 encoding)</li>
                            </ul>
                          </td>
                          <td><strong>Optional</strong> if HSS provisioning is activated in Operator settings, <strong>Forbidden</strong> otherwise.</td>
                        </tr>
                        <tr><td>F</td><td>n/a</td><td></td></tr>
                        <tr><td>G</td><td>n/a</td><td></td></tr>
                        <tr><td>H</td><td>Network subscription ID</td><td><strong>Optional</strong></td></tr>
                        <tr>
                          <td>I</td>
                          <td>
                            AS routing profile ID<br/>
                            If empty, the default cellular AS routing profile is automatically selected.
                            This automatic selection feature is deprecated and will be removed in ThingPark release 8.0: we strongly recommend to
                            explicitely specify the AS routing profile ID in this column.
                          </td>
                          <td><strong>Optional</strong></td>
                        </tr>
                        <tr><td>J</td><td>Maker ID</td><td><strong>Optional</strong>. The default maker will be used when no marker are specified at the creation.</td></tr>
                        <tr><td>K</td><td>Device name</td><td><strong>Optional</strong>. The name is generated when not provided at the creation.</td></tr>
                        <tr><td>L</td><td>Admin LAT</td><td><strong>Optional</strong>. When provided at the creation, the manual location is automatically activated, otherwise the network location is activated by default.</td></tr>
                        <tr><td>M</td><td>Admin LON</td><td></td></tr>
                        <tr><td>N</td><td>Other admin info</td><td><strong>Optional</strong></td></tr>
                        <tr>
                          <td>O</td>
                          <td>Alarm 004 configuration:
                            <ul>
                              <li>The root XML element is alarm004</li>
                              <li>The enclosed threshold1 self-closing XML element configures the first threshold of the alarm</li>
                              <li>The enclosed threshold2 self-closing XML element configures the second threshold of the alarm</li>
                              <li>For each threshold XML element the following attributes are available:
                                <ul>
                                  <li>status: ENABLE or DISABLE this threshold</li>
                                  <li>level: severity (2-6) of the alarm for this threshold</li>
                                  <li>duration: inactivity period (RFC 3339 duration between PT1H and P30D) after which the alarm is triggered for this threshold</li>
                                </ul>
                              </li>
                              <li>The following constraints must be satisfied:
                                <ul>
                                  <li>threshold2@status can be set to ENABLE only if threshold1@status is ENABLE</li>
                                  <li>threshold1@level must be lower than threshold2@level</li>
                                  <li>threshold1@duration must be lower than threshold2@duration</li>
                                </ul>
                              </li>
                            </ul>
                          </td>
                          <td><strong>Optional</strong></td>
                        </tr>
                        <tr><td>P</td><td>n/a</td><td></td></tr>
                        <tr><td>Q</td><td>Motion indicator</td><td><strong>Optional</strong>. The motion indicator of the device profile will be used when no motion indicator is specified at the creation.</td></tr>
                        <tr><td>R</td><td>n/a</td><td></td></tr>
                        <tr><td>S</td><td>n/a</td><td></td></tr>
                        <tr><td>T</td><td>n/a</td><td></td></tr>
                        <tr><td>U</td><td>n/a</td><td></td></tr>
                        <tr><td>V</td><td>n/a</td><td></td></tr>
                        <tr><td>W</td><td>n/a</td><td></td></tr>
                        <tr><td>X</td><td>TWA Exchange Key (RSA) version used to encrypt the Secret key of the SIM card (Ki)</td><td><strong>Optional</strong> if Local Join Server is used, <strong>Forbidden</strong> otherwise.</td></tr>
                        <tr><td>Y</td><td>n/a</td><td></td></tr>
                        <tr><td>Z</td><td>n/a</td><td></td></tr>
                        <tr><td>AA</td><td>n/a</td><td></td></tr>
                      </tbody>
                    </table>

                    </br></html>


                    Supported processing directive:

                    - `CREATE_ABP` (or `CREATE`, or empty for compatibility): Create a LoRaWAN ABP device.

                    - `CREATE_OTAA`: Create a LoRaWAN OTAA device.

                    - `DELETE`: Delete a device. In this case only the column B is requested.

                    - `CREATE_CELLULAR`: Create a cellular device. Only applicable to **ThingPark Wireless** if the cellular connectivity is enabled by the Operator.
        required: true
      responses:
        '200':
          description: >
            When an error is detected by TWA, TWA generate the following error
            CSV format.


            The CSV is includes in the standard &lt;error&gt; document as the &lt;message&gt; attribute:


            <html><table>
              <thead><tr><th><strong>Column</strong></th><th><strong>Definition</strong></th><th><strong>Cardinality</strong></th></tr></thead>
              <tbody>
                <tr><td>A</td><td>Device EUI</td><td><strong>Mandatory</strong></td></tr>
                <tr><td>B</td><td>Line number in the importation CSV</td><td><strong>Mandatory</strong></td></tr>
                <tr><td>C</td><td>Error-1 detected formatted as: '[' &lt;error code '] ' &lt;error message&gt;</td><td><strong>Mandatory</strong></td></tr>
                <tr><td>D</td><td>Error-2 detected: '[' &lt;error code '] ' &lt;error message&gt;</td><td><strong>Optional</strong></td></tr>
                <tr><td>E</td><td>Error-3 detected: '[' &lt;error code '] ' &lt;error message&gt;</td><td><strong>Optional</strong></td></tr>
                <tr><td>…</td><td>Error-x detected: '[' &lt;error code '] ' &lt;error message&gt;</td><td><strong>Optional</strong></td></tr>
              </tbody>
            </table></html>

            When no error is detected, an empty response is returned.
          content:
            application/json:
              example:
                code: 1
                message: >
                  999900FFFF002993,line 6,[111] A Device report already exists
                  for the given EUI

                  999900FFFF002993,line 7,[111] A Device report already exists for the given EUI,[222] No device profile for the given ID : SMTC/LoRaMote.1
              schema:
                $ref: '#/components/schemas/Error'
        '202':
          $ref: '#/components/responses/Async'
        default:
          $ref: '#/components/responses/Error'
  '/subscriptions/mine/devices/readOnboardingTag':
    parameters: []
    post:
      parameters:
        - $ref: '#/components/parameters/Language-tag'
      tags:
        - devices
      summary: Read Onboarding Tag
      description: |
        Parse a LoRa Alliance™ onboarding tag and return
        matching device profiles.


        ### Access rights:
        - `<Subscription>/a`
      requestBody:
        $ref: '#/components/requestBodies/OnboardingTag'
      responses:
        '200':
          $ref: '#/components/responses/OnboardingTag'
        default:
          $ref: '#/components/responses/Error'
  '/subscriptions/mine/devices/tags':
    post:
      tags:
        - devices
      summary: Tag Devices
      description: |
        Tag or untag a list of Devices by providing either a list of DevEUIs or a list of search criteria:
        * If a list of DevEUIs is provided in the request body: Tag or untag the list of Devices identified by the list of DevEUIs. The maximum number of DevEUIs is the maximum page size (system-wide configuration).
        * Else: Tag or untag the list of Devices matching the query parameters. Only one page is tagged/untagged at once.

        ### Access rights:
        - `<Subscription>/a`
        - If the authenticated user has domain restrictions, only devices
          matching the domain restrictions can be tagged.
      parameters:
        - $ref: '#/components/parameters/PageIndex'
        - $ref: '#/components/parameters/PageSize'
        - name: devEUI
          in: query
          description: Only tags/untags devices matching this DevEUI (prefix match)
          schema:
            type: array
            items:
              type: string
        - name: name
          in: query
          description: Only tags/untags devices matching this name (prefix match)
          schema:
            type: string
        - name: connectivityPlan
          in: query
          description: |
            When the string contains a network subscription ID: Only Devices
            associated with the network subscription are tagged/untagged.

            When the string contains the _NOCP keyword: Only Devices not
            associated with a network subscription are tagged/untagged.

            When the string contains the _CP keyword: Only Devices attached with
            a network subscription are tagged/untagged (without consideration
            for the network subscription).

            This parameter must no longer be used: the parameter
            `networkSubscriptionID` must be used in replacement.
          schema:
            type: string
          deprecated: true
        - name: networkSubscriptionID
          in: query
          description: |
            When the string contains a network subscription ID: Only Devices
            associated with the network subscription are tagged/untagged.

            When the string contains the `_unset` keyword: Only Devices not
            associated with a network subscription are tagged/untagged.

            When the string contains the `_any` keyword: Only Devices attached with
            a network subscription are tagged/untagged (without consideration
            for the network subscription).
          schema:
            type: string
        - name: batteryLevel
          in: query
          description: >
            Only tags/untags devices for which the last known battery level is
            equal or lower than the provided battery level.


            Note: No including 0 (because 0 means powered)
          schema:
            type: integer
            format: int32
        - name: infRSSI
          in: query
          description: |
            Only tags/untags devices for which the average RSSI is equal or lower
            than the provided RSSI.
          schema:
            type: number
            format: float
        - name: infSNR
          in: query
          description: |
            Only tags/untags devices for which the average SNR is equal or lower
            than the provided SNR.
          schema:
            type: number
            format: float
        - name: supSNR
          in: query
          description: |
            Only tags/untags devices for which the average SNR is equal or upper
            than the provided SNR.
          schema:
            type: number
            format: float
        - name: alarmLevel
          in: query
          description: >
            Only tags/untags devices for which one or several NOT-ACKED alarms
            exist:

            - 6: tags/untags devices with at least a CRITICAL nack alarm (state = 6)

            - 5: tags/untags devices with at least a CRITICAL or a MAJOR nack alarm (state >=5)

            - 4: tags/untags devices with at least a CRITICAL, MAJOR or MINOR nack alarm (state >=4)

            - 3: tags/untags devices with at least a CRITICAL, MAJOR, MINOR or WARNING nack alarm (state >=3)

            - 2: tags/untags devices with at least an UNCLEARED nack alarm (state >=2)

            - 1: tags/untags devices with at least an UNCLEARED or CLEARED nack alarm (state >=1)


            Note: When this query parameter is not specified, devices are tagged/untagged without consideration for alarms.
          schema:
            type: integer
            format: int32
        - name: minLat
          in: query
          description: >
            Only tags/untags devices matching this geolocation rectangle
            (minLat/minLon/maxLat/maxLon).


            When no localization query parameter are set, non-localized devices will be also returned.
          schema:
            type: number
            format: float
        - name: minLon
          in: query
          description: >
            Only tags/untags devices matching this geolocation rectangle
            (minLat/minLon/maxLat/maxLon).


            When no localization query parameter are set, non-localized devices will be also returned.
          schema:
            type: number
            format: float
        - name: maxLat
          in: query
          description: >
            Only tags/untags devices matching this the geolocation rectangle
            (minLat/minLon/maxLat/maxLon).


            When no localization query parameter are set, non-localized devices will be also returned.
          schema:
            type: number
            format: float
        - name: maxLon
          in: query
          description: >
            Only tags/untags devices matching this the geolocation rectangle
            (minLat/minLon/maxLat/maxLon).


            When no localization query parameter are set, non-localized devices will be also returned.
          schema:
            type: number
            format: float
        - name: healthState
          in: query
          description: |
            Only tags/untags devices matching this health state.

            Multiple values can be set. If not provided, all Devices are
            returned.
          schema:
            $ref: '#/components/schemas/DeviceHealthState'
          style: form
          explode: true
        - name: appServerID
          in: query
          description: >
            Only tags/untags devices associated with the Application Server
            through direct association. Association through AS Routing Profile
            is not taken into account.


            Multiple values can be set: in this case Devices must be associated with all provided Application Servers.
          schema:
            type: array
            items:
              type: string
          style: form
          explode: true
        - name: connectivity
          in: query
          description: |
            Only tags/untags devices matching connectivity:
            - `LORAWAN`
            - `CELLULAR`

            `CELLULAR` is only applicable to **ThingPark Wireless** if the
            cellular connectivity is enabled by the Operator.
          schema:
            enum:
              - LORAWAN
              - CELLULAR
            type: string
        - name: query
          in: query
          description: |
            Only tags/untags devices with a devEUI or a name containing the provided term.
            (prefix match)
          schema:
            type: string
        - name: from
          in: query
          description: >
            Only tags/untags Devices created on or after this date/time.


            Syntax: ISO 8601 date/time including time offset. If no time offset is provided the server's offset is used by default.
          schema:
            type: string
            format: date-time
          example: 2018-08-24T09:27:59.512Z
        - name: to
          in: query
          description: >
            Only tags/untags Devices created on or before this date/time.


            Syntax: ISO 8601 date/time including time offset. If no time offset is provided the server's offset is used by default.
          schema:
            type: string
            format: date-time
          example: 2018-08-24T09:27:59.512Z
        - name: tag
          in: query
          description: |
            Only tags/untags devices matching this tag name (exact match)
          schema:
            type: array
            items:
              $ref: '#/components/schemas/TagName'
        - name: action
          in: query
          description: |
            Action to perform:
            - TAG: tag all devices matching the criteria
            - UNTAG: untag all devices matching the criteria
          schema:
            enum:
              - TAG
              - UNTAG
            type: string
            default: TAG
        - name: sort
          in: query
          description: |
            Defines how results are sorted (&lt;attribute&gt;,&lt;order&gt;).

            Following attributes are supported:
            - 'name': by name
            - 'avgSNR': by average SNR
            - 'avgESP': by average ESP
            - 'lastSF': by spreading factor of the last uplink frame
            - 'lastUpTimestamp': by timestamp of the last downlink frame
            - 'lastDwTimestamp': by timestamp of the last uplink frame
            - 'lastBatLevel': by battery level
            - 'creationDate': by date of creation of the device
            - 'lastMeanPER': by last mean PER without consideration for LRRs

            Following orders are supported:
            - 'asc': ascending order
            - 'desc': descending order

            By default, results are sorted by creation date ascending order.
          schema:
            type: string
            example: name,asc
      requestBody:
        $ref: '#/components/requestBodies/DevicesTag'
      responses:
        '200':
          $ref: '#/components/responses/DeviceTag'
        default:
          $ref: '#/components/responses/Error'
    parameters: []
  '/subscriptions/mine/devices/tags/suggestions':
    get:
      tags:
        - devices
      summary: Retrieve Device Tag Suggestions
      description: |
        Retrieve a list of tag names starting with a query string (case insensitive).

        The number of tag names returned in the response is configurable
        (system-wide). By default the 20 first results are returned.

        Results are ordered by "name" (lexicographic order).

        ### Access rights:
        - `<Subscription>/x`
      parameters:
        - $ref: '#/components/parameters/Query'
        - $ref: '#/components/parameters/TagExclude'
      responses:
        '200':
          $ref: '#/components/responses/TagSuggestions'
        default:
          $ref: '#/components/responses/Error'
    parameters: []
  '/subscriptions/mine/devices/{deviceUid}':
    get:
      tags:
        - devices
      summary: Retrieve Device
      description: |
        Retrieve a Device detail.

        ### Access rights:
        - `<Subscription>/x`
        - `LPWA_MGR::READ_NODE`
        - If the authenticated user has domain restrictions, the device must
          match the domain restrictions.
      parameters:
        - $ref: '#/components/parameters/Device'
        - $ref: '#/components/parameters/Language-tag'
      responses:
        '200':
          $ref: '#/components/responses/Device'
        default:
          $ref: '#/components/responses/Error'
    put:
      tags:
        - devices
      summary: Update Device
      description: |
        Update a device.

        ### Access rights:
        - `<Subscription>/a`
        - `LPWA_MGR::WRITE_NODE (partial update)`
        - `LPWA_MGR::WRITE_NODE_ACTIVATION (full update)`
        - If the authenticated user has domain restrictions, the device must
          match the domain restrictions before and after the update.

        ### Optimistic locking:
        - `<device>.occ`
      parameters:
        - $ref: '#/components/parameters/Force'
        - $ref: '#/components/parameters/NetworkSubscriptionsHandlingMode'
      requestBody:
        $ref: '#/components/requestBodies/Device'
      responses:
        '200':
          $ref: '#/components/responses/Device'
        default:
          $ref: '#/components/responses/Error'
    delete:
      tags:
        - devices
      summary: Delete Device
      description: |
        Delete a device (Device, DeviceReport, DeviceHistory and DeviceAlarm).

        ### Access rights:
        - `<Subscription>/a`
        - If the authenticated user has domain restrictions, the device must
          match the domain restrictions.
      x-rateLimit:
        category: MEDIUM_IMPACT
      parameters:
        - $ref: '#/components/parameters/Async'
      responses:
        '202':
          $ref: '#/components/responses/Async'
        '204':
          $ref: '#/components/responses/Delete'
        default:
          $ref: '#/components/responses/Error'
    parameters:
      - $ref: '#/components/parameters/Device'
  '/subscriptions/mine/devices/{deviceUid}/admins/reset':
    post:
      tags:
        - devices
      summary: Create Reset
      description: |
        Reset the LRC context of the Device.

        ### Access rights:
        - `<Subscription>/a`
        - If the authenticated user has domain restrictions, the device must
          match the domain restrictions.
      responses:
        '204':
          description: Operation success
        default:
          $ref: '#/components/responses/Error'
    parameters:
      - $ref: '#/components/parameters/Device'
  '/subscriptions/mine/devices/{deviceUid}/admins/downlink':
    post:
      tags:
        - devices
      summary: Send Downlink
      description: |
        Submit a data payload to be sent in a downlink packet to the Device.

        The data payload is added in the per-device LRC downlink queue. The
        sending of the data payload in a downlink packet is scheduled according
        to the Device class and radio conditions.

        Only applicable to LoRaWAN devices.

        ### Access rights:
        - `<Subscription>/a`
        - If the authenticated user has domain restrictions, the device must
          match the domain restrictions.
      parameters:
        - name: payload
          in: query
          description: |
            Hexadecimal payload. The hexadecimal payload will be encrypted by
            the LRC if the fCntDn query parameter and the aFCntDn query
            parameter are absent, and if the LRC has been configured with an
            AppSKey for the specified LoRaWAN port.
            Otherwise the payload must be provided encrypted according to the
            LoRaWAN specification, and the fCntDn query parameter or the aFCntDn
            query parameter must be present. The encryption uses the downlink
            counter, which is why the fCntDn query parameter or the aFCntDn
            query parameter is required in this case.
          required: true
          schema:
            type: string
        - name: fPort
          in: query
          description: |
            LoRaWAN target port [1..225]
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 225
        - name: fCntDn
          in: query
          description: |
            The LoRaWAN Downlink Counter value is used to encrypt the payload.
            This query parameter is needed only if the payload is provided
            encrypted. If present, fCntDn will be copied in the LoRaWAN header
            field FCnt, and the encrypted payload will be copied as-is to the
            LoRaWAN downlink frame by the LRC.
            **Only applicable to LoRaWAN 1.0**
          schema:
            type: integer
        - name: aFCntDn
          in: query
          description: |
            The LoRaWAN Applicative Downlink Counter value is used to encrypt
            the payload. This query parameter is needed only if the the payload
            is provided encrypted. If present, aFCntDn will be copied in the
            LoRaWAN header field FCnt, and the encrypted payload will be copied
            as-is to the LoRaWAN downlink frame by the LRC.
            **Only applicable to LoRaWAN 1.1**
          schema:
            type: integer
        - name: confirmed
          in: query
          description: |
            TRUE if the transmission of a CONFIRMED downlink frame is requested.
            FALSE if the transmission of an UNCONFIRMED downlink frame is
            requested.
          schema:
            type: boolean
            default: false
        - name: flushDownlinkQueue
          in: query
          description: |
            TRUE if the per-device LRC downlink queue must be emptied prior to
            add the downlink payload transported by this request.
          schema:
            type: boolean
            default: false
        - name: validityTime
          in: query
          description: |
            Associates the downlink payload with an expiration date (ISO 8601
            timestamp or Duration in seconds) in the pre-device LRC downlink
            queue.

            If the downlink payload has not yet been sent to the device, the
            downlink payload will be discarded by the LRC when the expiration
            date is reached.
          schema:
            type: string
            format: date-time
      responses:
        '201':
          description: Operation success
        default:
          $ref: '#/components/responses/Error'
    parameters:
      - $ref: '#/components/parameters/Device'
  '/subscriptions/mine/devices/{deviceUid}/alarms':
    get:
      tags:
        - devices
      summary: Retrieve Alarms of a Device
      description: |
        Retrieve a list of alarms associated with a given device.
        Alarms are filtered according to the query parameters.
        Alarms are sorted by last update timestamp in descending order.

        For more information about possible alarms, see <a href="./alarms.html" target="_blank">Alarms</a>.

        ### Access rights:
        - `<Subscription>/x`
        - `LPWA_MGR::READ_NODE`
        - If the authenticated user has domain restrictions, the device must
          match the domain restrictions.
      parameters:
        - $ref: '#/components/parameters/PageIndex'
        - $ref: '#/components/parameters/Language-tag'
        - $ref: '#/components/parameters/TimestampFrom'
        - $ref: '#/components/parameters/TimestampTo'
        - $ref: '#/components/parameters/AlarmID'
        - $ref: '#/components/parameters/AlarmState'
        - $ref: '#/components/parameters/AlarmAcked'
      responses:
        '200':
          $ref: '#/components/responses/AlarmsActive'
        default:
          $ref: '#/components/responses/Error'
    parameters:
      - $ref: '#/components/parameters/Device'
  '/subscriptions/mine/devices/{deviceUid}/alarms/ack':
    post:
      tags:
        - devices
      summary: Ack Alarms of a Device
      description: |
        Acknowledge a list of alarms associated with a given device.
        Alarms to acknowledge are filtered according to the query parameters.

        ### Access rights:
        - `<Subscription>/a`
        - `LPWA_MGR::WRITE_NODE`
        - If the authenticated user has domain restrictions, the device must
          match the domain restrictions.
      x-rateLimit:
        category: MEDIUM_IMPACT
      parameters:
        - $ref: '#/components/parameters/Language-tag'
        - $ref: '#/components/parameters/TimestampFrom'
        - $ref: '#/components/parameters/TimestampTo'
        - $ref: '#/components/parameters/AlarmID'
        - $ref: '#/components/parameters/AlarmState'
        - name: algo
          in: query
          description: >
            Algorithm used to generate the KPI:

            - mapReduce: MongoDB map/reduce is used

            - aggregation: MongoDB aggregation is used


            Default value: When this query parameter is not specified the **aggregation** algorithm is used by default.


            This parameter must no longer be used: it is ignored, aggregation algorithm is always used.
          schema:
            type: string
          deprecated: true
      responses:
        '201':
          description: Operation success
        default:
          $ref: '#/components/responses/Error'
    parameters:
      - $ref: '#/components/parameters/Device'
  '/subscriptions/mine/devices/{deviceUid}/alarms/histories':
    get:
      tags:
        - devices
      summary: Retrieve Alarms History of a Device
      description: |
        Retrieve the alarms history (cleared alarms) associated with a given device.
        Alarms are filtered according to the query parameters.
        Alarms are sorted by clearance timestamp in descending order.

        For more information about possible alarms, see <a href="./alarms.html" target="_blank">Alarms</a>.

        ### Access rights:
        - `<Subscription>/x`
        - `LPWA_MGR::READ_NODE`
        - If the authenticated user has domain restrictions, the device must
          match the domain restrictions.
      parameters:
        - $ref: '#/components/parameters/PageIndex'
        - $ref: '#/components/parameters/Language-tag'
        - $ref: '#/components/parameters/TimestampFrom'
        - $ref: '#/components/parameters/TimestampTo'
        - $ref: '#/components/parameters/AlarmID'
        - $ref: '#/components/parameters/AlarmIndex'
        - $ref: '#/components/parameters/AlarmHistoryState'
        - $ref: '#/components/parameters/AlarmAcked'
      responses:
        '200':
          $ref: '#/components/responses/Alarms'
        default:
          $ref: '#/components/responses/Error'
    parameters:
      - $ref: '#/components/parameters/Device'
  '/subscriptions/mine/devices/{deviceUid}/alarms/{alarmUid}/ack':
    post:
      tags:
        - devices
      summary: Ack a Device Alarm
      description: |
        Acknowledge a device alarm identified by its Uid.

        ### Access rights:
        - `<Subscription>/a`
        - `LPWA_MGR::WRITE_NODE`
        - If the authenticated user has domain restrictions, the device must
          match the domain restrictions.
      responses:
        '201':
          description: Operation success
        default:
          $ref: '#/components/responses/Error'
    parameters:
[...]
