openapi: 3.1.0
info:
  title: ThingPark things management Networks API
  description: >
    REST interface for networks management.
  version: '7.3'
servers:
  - url: 'https://community.thingpark.io/thingpark/wireless/rest'
    description: Community
  - url: 'https://thingparkenterprise.eu.actility.com/thingpark/wireless/rest'
    description: Europe
  - url: 'https://thingparkenterprise.us.actility.com/thingpark/wireless/rest'
    description: United-States
  - url: 'https://thingparkenterprise.au.actility.com/thingpark/wireless/rest'
    description: Australia
  - url: 'https://{hostname}/thingpark/wireless/rest'
    description: Self-hosted TPE
    variables:
      hostname:
        default: enterprise.actility.local
        description: Hostname of the self-hosted TPE deployment
paths:
  '/partners/mine':
    get:
      tags:
        - partners
      summary: Retrieve a network partner
      description: |
        Retrieve a network partner.

        ### Access rights:
        - `<NetworkPartner>/x`
      responses:
        '200':
          $ref: '#/components/responses/Partner'
        default:
          $ref: '#/components/responses/Error'
    put:
      tags:
        - partners
      summary: Update a network partner
      description: |
        Update a network partner.

        ### Access rights:
        - If the partner's type is `SUBSCRIBER`:
          - `<NetworkPartner>/RA`
          - `<NetworkPartner>/s1`: `MANAGE_SUBSCRIBER`
        - Else:
          - `<NetworkPartner>/a`

        ### Optimistic locking:
        - `<partner>.occ`
      parameters:
        - $ref: '#/components/parameters/Force'
      requestBody:
        $ref: '#/components/requestBodies/Partner'
      responses:
        '200':
          $ref: '#/components/responses/Partner'
        default:
          $ref: '#/components/responses/Error'
    delete:
      tags:
        - partners
      summary: Deactivate a network partner
      description: |
        Deactivate a network partner. The state is moved to DEACTIVATED and
        the network partner can no longer be accessed.

        ### Access rights:
        - `<NetworkPartner>/RA`
      responses:
        '204':
          $ref: '#/components/responses/Delete'
        default:
          $ref: '#/components/responses/Error'
    parameters: []
  '/partners/mine/bsProfiles':
    get:
      tags:
        - bs-profiles
      summary: Retrieve base station models
      description: |
        Retrieve the list of base station models accessible to the network
        partner.

        ### Access rights:
        - `<NetworkPartner>/x`
      parameters:
        - $ref: '#/components/parameters/PageIndex'
        - name: vendorID
          in: query
          description: Base station manufacturer ID filtering (exact match)
          schema:
            type: string
        - name: ismBandID
          in: query
          description: >
            ISM band ID filtering (exact match)

            If multiple ismBandID, return Base station models supporting any of ISM Band
          schema:
            type: array
            items:
              $ref: '#/components/schemas/IsmBandID'
        - $ref: '#/components/parameters/Language-tag'
      responses:
        '200':
          $ref: '#/components/responses/BsProfiles'
        default:
          $ref: '#/components/responses/Error'
    parameters: []
  '/partners/mine/bsVendors':
    get:
      tags:
        - bs-profiles
      summary: Retrieve base station manufacturers
      description: |
        Retrieve the list of base station manufacturers accessible to the network
        partner.

        ### Access rights:
        - `<NetworkPartner>/x`
      parameters:
        - $ref: '#/components/parameters/PageIndex'
        - name: name
          in: query
          description: |
            Base station manufacturer name filtering (prefix match)

            This parameter must no longer be used: name filtering is limited to the en-US language.
          deprecated: true
          schema:
            type: string
        - name: ID
          in: query
          description: Base station manufacturer ID filtering (exact match)
          schema:
            type: string
        - name: ismBandID
          in: query
          description: >
            ISM band ID filtering (exact match)


            Only return Base station manufacturers having at least one Base Station Profile supporting this IMS band
          schema:
            type: array
            items:
              $ref: '#/components/schemas/IsmBandID'
        - name: sort
          in: query
          description: >
            Defines how results are sorted:

            - BY_NAME: Base station manufacturers are ordered by name (lexicographic order)

            - BY_LAST_CREATED: Base station manufacturers of last created Base

            Stations are returned first (reverse creation date order) then

            remaining Base station manufacturers are ordered by name (lexicographic

            order)


            When this query parameter is not specified, BY_NAME is used by default.
          schema:
            enum:
              - BY_NAME
              - BY_LAST_CREATED
            type: string
        - $ref: '#/components/parameters/Language-tag'
      responses:
        '200':
          $ref: '#/components/responses/BaseStationVendors'
        default:
          $ref: '#/components/responses/Error'
    parameters: []
  '/partners/mine/bss':
    get:
      tags:
        - base-stations
      summary: Retrieve base stations
      description: |
        Retrieve the list of base stations attached to the network partner.

        ### Access rights:
        - `<NetworkPartner>/x`
        - If the authenticated user has domain restrictions, only base stations
          matching the domain restrictions can be retrieved.
      x-rateLimit:
        category: MEDIUM_IMPACT
      parameters:
        - $ref: '#/components/parameters/PageIndex'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/Language-tag'
        - $ref: '#/components/parameters/BsName'
        - $ref: '#/components/parameters/BsLRRID'
        - $ref: '#/components/parameters/BsVersion'
        - $ref: '#/components/parameters/BsCustomVersion'
        - $ref: '#/components/parameters/BsRebootFrom'
        - $ref: '#/components/parameters/BsMinRC'
        - $ref: '#/components/parameters/BsAlarmLevel'
        - name: minLat
          in: query
          description: >
            Only returns BS that match the geolocation rectangle.


            When no localization query parameter are set, non-localized BS will be also returned.
          schema:
            type: number
            format: float
        - name: minLon
          in: query
          description: >
            Only returns BS that match the geolocation rectangle.


            When no localization query parameter are set, non-localized BS will be also returned.
          schema:
            type: number
            format: float
        - name: maxLat
          in: query
          description: >
            Only returns BS that match the geolocation rectangle.


            When no localization query parameter are set, non-localized BS will be also returned.
          schema:
            type: number
            format: float
        - name: maxLon
          in: query
          description: >
            Only returns BS that match the geolocation rectangle.


            When no localization query parameter are set, non-localized BS will be also returned.
          schema:
            type: number
            format: float
        - $ref: '#/components/parameters/BsLRRUUID'
        - $ref: '#/components/parameters/BsHealthState'
        - $ref: '#/components/parameters/BsQuery'
        - $ref: '#/components/parameters/BsTag'
        - $ref: '#/components/parameters/BsDomain'
        - name: sort
          in: query
          description: |
            Defines how results are sorted (&lt;attribute&gt;,&lt;order&gt;).

            Following attributes are supported:
            - 'name': by name
            - 'lastUpFrameDate': by timestamp of the last downlink frame
            - 'lastDwFrameDate': by timestamp of the last uplink frame
            - 'version': by software version of the BS
            - 'lastReboot': by last reboot timestamp of the BS (software uptime)
            - 'creationDate': by date of creation of the BS

            Following orders are supported:
            - 'asc': ascending order
            - 'desc': descending order

            By default, results are sorted by creation date ascending order.
          schema:
            type: string
            example: name,asc
        - $ref: '#/components/parameters/BsRfRegionID'
        - $ref: '#/components/parameters/BsSecurityState'
        - $ref: '#/components/parameters/BsAppServerID'
      responses:
        '200':
          $ref: '#/components/responses/Bss'
        default:
          $ref: '#/components/responses/Error'
    post:
      tags:
        - base-stations
      summary: Add a base station
      description: |
        Add a base station. The base station is initially in the `ACTIVE` state.

        To be fully operational, the RF region of the base station must be configured using the
        "Update the RF region of a base station" POST operation.

        ### Access rights:
        - `<NetworkPartner>/a`
        - If the authenticated user has domain restrictions, the base station
          must match the domain restrictions.
      x-rateLimit:
        category: MEDIUM_IMPACT
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Bs'
            examples:
              BaseStation:
                $ref: '#/components/examples/BaseStationPost'
        required: true
      responses:
        '201':
          $ref: '#/components/responses/Bs'
        default:
          $ref: '#/components/responses/Error'
    parameters: []
  '/partners/mine/bss/alarms':
    get:
      tags:
        - alarms
      summary: Retrieve alarms of all base stations
      description: |
        Retrieve a list of alarms associated with all base stations.
        Alarms are filtered and sorted according to the query parameters.

        For more information about possible alarms, see <a href="./alarms.html" target="_blank">Alarms</a>.

        ### Access rights:
        - `<NetworkPartner>/x`
        - If the authenticated user has domain restrictions, only alarms of base
          stations matching the domain restrictions can be retrieved.
      parameters:
        - $ref: '#/components/parameters/PageIndex'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/Language-tag'
        - $ref: '#/components/parameters/TimestampFrom'
        - $ref: '#/components/parameters/TimestampTo'
        - $ref: '#/components/parameters/AlarmID'
        - $ref: '#/components/parameters/AlarmUid'
        - name: lrrID
          in: query
          description: LRR ID filtering (prefix match)
          schema:
            type: array
            items:
              type: string
        - name: state
          in: query
          description: >
            State of the alarm:

            - 6: CRITICAL 

            - 5: MAJOR

            - 4: MINOR

            - 3: WARNING

            - 2: INDETERMINATE

            - 1: CLEARED


            The state filtering strategy is defined by the query parameter stateFiltering

            Note: When this query parameter is not specified, alarms are returned without consideration for the state (i.e. alarms can be UNCLEARED or CLEARED)
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 6
        - name: stateFiltering
          in: query
          description: >
            Alarm state filtering strategy:

            - 'EQUAL_OR_UPPER': Only returns alarms for which the state is equal to or upper than the provided level in query parameter state

            - 'EQUAL': Only returns alarms for which the state is equal to the provided level in query parameter state


            By default, 'EQUAL_OR_UPPER' mode is used.
          schema:
            type: string
            enum:
              - EQUAL_OR_UPPER
              - EQUAL
            default: EQUAL_OR_UPPER
        - $ref: '#/components/parameters/AlarmAcked'
        - $ref: '#/components/parameters/BsDomain'
        - name: sort
          in: query
          description: >
            Defines how results are sorted (&lt;attribute&gt;,&lt;order&gt;).


            Following attributes are supported:

            - 'state': results are sorted by state then by update timestamp (decreasing order)

            - 'acked': results are sorted by acked status then by update timestamp (decreasing order)


            Following orders are supported:

            - 'asc': ascending order

            - 'desc': descending order


            By default, results are sorted by update timestamp (decreasing order)
          schema:
            type: string
            example: state,desc
        - name: limit
          in: query
          description: >
            Limit the number of results. By default, no limit is applied.
          schema:
            type: integer
            format: int32
      responses:
        '200':
          $ref: '#/components/responses/AlarmsBsActive'
        default:
          $ref: '#/components/responses/Error'
    parameters: []
  '/partners/mine/bss/alarms/ack':
    post:
      tags:
        - alarms
      summary: Ack a list of base station alarms
      description: |
        Acknowledge a list of alarms associated with all base stations.
        Alarms to acknowledge are identified by their Uids.

        ### Access rights:
        - `<NetworkPartner>/a`
        - If the authenticated user has domain restrictions, only alarms of base
          stations matching the domain restrictions can be acknowledged.
      requestBody:
        $ref: '#/components/requestBodies/AlarmsBssAck'
      responses:
        '204':
          description: Operation success
        default:
          $ref: '#/components/responses/Error'
    parameters: []
  '/partners/mine/bss/alarms/histories':
    get:
      tags:
        - alarms
      summary: Retrieve alarms history of all base stations
      description: |
        Retrieve the alarms history (cleared alarms) associated with all base stations.
        Alarms are filtered according to the query parameters.
        Alarms are sorted by clearance timestamp in descending order.

        For more information about possible alarms, see <a href="./alarms.html" target="_blank">Alarms</a>.

        ### Access rights:
        - `<NetworkPartner>/x`
        - If the authenticated user has domain restrictions, only alarms of base
          stations matching the domain restrictions can be retrieved.
      parameters:
        - $ref: '#/components/parameters/PageIndex'
        - $ref: '#/components/parameters/Language-tag'
        - $ref: '#/components/parameters/TimestampFrom'
        - $ref: '#/components/parameters/TimestampTo'
        - $ref: '#/components/parameters/AlarmID'
        - $ref: '#/components/parameters/AlarmUid'
        - $ref: '#/components/parameters/AlarmIndex'
        - $ref: '#/components/parameters/AlarmHistoryState'
        - $ref: '#/components/parameters/AlarmAcked'
        - name: lrrID
          in: query
          description: LRR ID filtering (prefix match)
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          $ref: '#/components/responses/AlarmsBs'
        default:
          $ref: '#/components/responses/Error'
    parameters: []
  '/partners/mine/bss/alarms/stateDistributions':
    get:
      tags:
        - alarms
      summary: Retrieve the states distribution of base station alarms
      description: |
        Retrieve the states distribution of alarms associated with all base stations.
        Alarms are filtered according to the query parameters.

        ### Access rights:
        - `<NetworkPartner>/x`
        - If the authenticated user has domain restrictions, only alarms of base
          stations matching the domain restrictions are counted.
      x-rateLimit:
        category: MEDIUM_IMPACT
      parameters:
        - $ref: '#/components/parameters/TimestampFrom'
        - $ref: '#/components/parameters/TimestampTo'
        - $ref: '#/components/parameters/AlarmState'
        - $ref: '#/components/parameters/AlarmAcked'
      responses:
        '200':
          $ref: '#/components/responses/AlarmsBssStateDistributions'
        default:
          $ref: '#/components/responses/Error'
    parameters: []
  '/partners/mine/bss/clusters':
    parameters: []
    get:
      tags:
        - base-stations
      summary: Retrieve base stations clusters
      description: |
        Retrieve the list of base stations attached to the network partner
        having known geographical coordinates. Base stations that are close
        to each other are grouped in the same cluster.
        Distance threshold to group two base stations in the same cluster is
        evaluated to ensure that at most 64 clusters are returned for the 
        given bounding box.

        ### Access rights:
        - `<NetworkPartner>/x`
        - If the authenticated user has domain restrictions, only base stations
          matching the domain restrictions can be retrieved.
      x-rateLimit:
        category: HIGH_IMPACT
      parameters:
        - $ref: '#/components/parameters/Language-tag'
        - name: minLat
          in: query
          required: true
          description: >
            Only returns BS that match the geolocation rectangle.
          schema:
            type: number
            format: float
        - name: minLon
          in: query
          required: true
          description: >
            Only returns BS that match the geolocation rectangle.
          schema:
            type: number
            format: float
        - name: maxLat
          in: query
          required: true
          description: >
            Only returns BS that match the geolocation rectangle.
          schema:
            type: number
            format: float
        - name: maxLon
          in: query
          required: true
          description: >
            Only returns BS that match the geolocation rectangle.
          schema:
            type: number
            format: float
        - $ref: '#/components/parameters/BsName'
        - $ref: '#/components/parameters/BsLRRID'
        - $ref: '#/components/parameters/BsVersion'
        - $ref: '#/components/parameters/BsCustomVersion'
        - $ref: '#/components/parameters/BsRebootFrom'
        - $ref: '#/components/parameters/BsMinRC'
        - $ref: '#/components/parameters/BsAlarmLevel'
        - $ref: '#/components/parameters/BsLRRUUID'
        - $ref: '#/components/parameters/BsHealthState'
        - $ref: '#/components/parameters/BsQuery'
        - $ref: '#/components/parameters/BsTag'
        - $ref: '#/components/parameters/BsDomain'
        - $ref: '#/components/parameters/BsRfRegionID'
        - $ref: '#/components/parameters/BsSecurityState'
        - $ref: '#/components/parameters/BsAppServerID'
      responses:
        '200':
          $ref: '#/components/responses/BssClusters'
        default:
          $ref: '#/components/responses/Error'
  '/partners/mine/bss/counters':
    get:
      tags:
        - base-stations
      summary: Retrieve the number of base stations per health state
      description: |
        Retrieve the number of base stations per health state.

        ### Access rights:
        - `<NetworkPartner>/x`
        - If the authenticated user has domain restrictions, only base stations
          matching the domain restrictions are counted.
      x-rateLimit:
        category: MEDIUM_IMPACT
      responses:
        '200':
          $ref: '#/components/responses/Counters'
        default:
          $ref: '#/components/responses/Error'
    parameters: []
  '/partners/mine/bss/domains':
    post:
      tags:
        - base-stations
      summary: Associate domains with base stations
      description: |
        Add or remove a list of domains on a list of Base Stations.

        When adding a domain, any existing domain belonging to the same group is
        replaced by the new one.

        When removing a domain, no error is returned if the domain is not
        associated with a subset or all targeted Base Stations.

        Only supported if the partner's type is `SUBSCRIBER`.

        ### Access rights:
        - `<NetworkPartner>/a`
        - If the authenticated user has domain restrictions, base stations must
          match the domain restrictions before and after the operation.
      requestBody:
        $ref: '#/components/requestBodies/BssDomains'
      responses:
        '204':
          description: Operation success
        default:
          $ref: '#/components/responses/Error'
    parameters: []
  '/partners/mine/bss/tags':
    post:
      tags:
        - base-stations
      summary: Tag or untag a list of base stations
      description: |
        Tag or untag a list of base stations by providing either a list of LRR IDs or a list of search criteria:
        * If a list of LRR IDs is provided in the request body: Tag or untag the list of base stations identified by the list of LRR IDs. The maximum number of LRR IDs is the maximum page size (system-wide configuration).
        * Else: Tag or untag the list of base stations matching the query parameters. Only one page is tagged/untagged at once.

        ### Access rights:
        - `<NetworkPartner>/a`
        - If the authenticated user has domain restrictions, only base stations
          matching the domain restrictions can be tagged.
      parameters:
        - $ref: '#/components/parameters/PageIndex'
        - $ref: '#/components/parameters/PageSize'
        - name: name
          in: query
          description: Only tags/untags base stations matching this name (prefix match)
          schema:
            type: string
        - name: LRRID
          in: query
          description: Only tags/untags base stations matching this LRR ID (prefix match)
          schema:
            type: array
            items:
              type: string
        - name: version
          in: query
          description: Only tags/untags base stations matching this software version
            (prefix match)
          schema:
            type: string
        - name: customVersion
          in: query
          description: Only tags/untags base stations matching this custom version (exact
            match)
          schema:
            type: string
        - name: rebootFrom
          in: query
          description: >
            Only tags/untags base stations matching this rebooted since this
            date/time.


            Syntax: ISO 8601 date/time including time offset. If no time offset is provided the server's offset is used by default.
          schema:
            type: string
            format: date-time
        - name: minRC
          in: query
          description: >-
            Only tags/untags base stations for which the min remaining capacity
            (up or down) is equal or lower than the provided min remaining
            capacity
          schema:
            type: integer
            format: int32
        - name: alarmLevel
          in: query
          description: >
            Only tags/untags base stations for which one or several NOT-ACKED
            alarms exist:

            - 6: tags/untags base stations with at least a CRITICAL nack alarm (state = 6)

            - 5: tags/untags base stations with at least a CRITICAL or a MAJOR nack alarm (state >=5)

            - 4: tags/untags base stations with at least a CRITICAL, MAJOR or MINOR nack alarm (state >=4)

            - 3: tags/untags base stations with at least a CRITICAL, MAJOR, MINOR or WARNING nack alarm (state >=3)

            - 2: tags/untags base stations with at least an UNCLEARED nack alarm (state >=2)

            - 1: tags/untags base stations with at least an UNCLEARED or CLEARED nack alarm

            (state >=1)


            Note: When this query parameter is not specified, base stations are tagged/untagged without consideration for alarms.
          schema:
            type: integer
            format: int32
        - name: minLat
          in: query
          description: >
            Only tags/untags base stations matching this geolocation rectangle.


            When no localization query parameter are set, non-localized BS will be also tagged/untagged.
          schema:
            type: number
            format: float
        - name: minLon
          in: query
          description: >
            Only tags/untags base stations matching this geolocation rectangle.


            When no localization query parameter are set, non-localized BS will be also tagged/untagged.
          schema:
            type: number
            format: float
        - name: maxLat
          in: query
          description: >
            Only tags/untags base stations matching this geolocation rectangle.


            When no localization query parameter are set, non-localized BS will be also tagged/untagged.
          schema:
            type: number
            format: float
        - name: maxLon
          in: query
          description: >
            Only tags/untags base stations matching this geolocation rectangle.


            When no localization query parameter are set, non-localized BS will be also tagged/untagged.
          schema:
            type: number
            format: float
        - name: LRRUUID
          in: query
          description: Only tags/untags base stations matching this LRR UUID (prefix match)
          schema:
            type: string
        - name: healthState
          in: query
          description: |
            Only tags/untags base stations matching this health state.

            Multiple values can be set. If not provided, all Base Stations are
            tagged/untagged.
          schema:
            $ref: '#/components/schemas/BsHealthState'
        - name: query
          in: query
          description: |
            Only tags/untags base stations with a LRR ID or LRR UUID or name containing
            the provided term. (prefix match)
          schema:
            type: string
        - name: tag
          in: query
          description: |
            Only tags/untags base stations matching this tag name (exact match)
          schema:
            type: array
            items:
              $ref: '#/components/schemas/TagName'
        - name: action
          in: query
          description: |
            Action to perform:
            - TAG: tag all base stations matching the criteria
            - UNTAG: untag all base stations matching the criteria
          schema:
            enum:
              - TAG
              - UNTAG
            type: string
            default: TAG
        - name: sort
          in: query
          description: |
            Defines how results are sorted (&lt;attribute&gt;,&lt;order&gt;).

            Following attributes are supported:
            - 'name': by name
            - 'lastUpFrameDate': by timestamp of the last downlink frame
            - 'lastDwFrameDate': by timestamp of the last uplink frame
            - 'version': by software version of the BS
            - 'lastReboot': by last reboot timestamp of the BS (software uptime)
            - 'creationDate': by date of creation of the BS

            Following orders are supported:
            - 'asc': ascending order
            - 'desc': descending order

            By default, results are sorted by creation date ascending order.
          schema:
            type: string
            example: name,asc
        - name: rfRegionID
          in: query
          description: Only tags/untags base stations matching this RF Region provisioning
            ID (exact match)
          schema:
            type: array
            items:
              type: string
      requestBody:
        $ref: '#/components/requestBodies/BssTag'
      responses:
        '200':
          $ref: '#/components/responses/BsTag'
        default:
          $ref: '#/components/responses/Error'
    parameters: []
  '/partners/mine/bss/tags/suggestions':
    get:
      tags:
        - base-stations
      summary: Retrieve tag name suggestions
      description: |
        Retrieve a list of tag names starting with a query string (case insensitive).

        The number of tag names returned in the response is configurable
        (system-wide). By default the 20 first results are returned.

        Results are ordered by "name" (lexicographic order).

        ### Access rights:
        - `<NetworkPartner>/x`
      parameters:
        - $ref: '#/components/parameters/Query'
        - $ref: '#/components/parameters/Exclude'
      responses:
        '200':
          $ref: '#/components/responses/TagSuggestions'
        default:
          $ref: '#/components/responses/Error'
    parameters: []
  '/partners/mine/bss/{bsUid}':
    get:
      tags:
        - base-stations
      summary: Retrieve a base station
      description: |
        Retrieve a base station.

        ### Access rights:
        - `<NetworkPartner>/x`
        - If the authenticated user has domain restrictions, the base station
          must match the domain restrictions.
      parameters:
        - $ref: '#/components/parameters/Language-tag'
      responses:
        '200':
          $ref: '#/components/responses/Bs'
        default:
          $ref: '#/components/responses/Error'
    put:
      tags:
        - base-stations
      summary: Update a base station
      description: |
        Update a base station.

        ### Access rights:
        - `<NetworkPartner>/a`
        - If the authenticated user has domain restrictions, the base station
          must match the domain restrictions before and after the update.

        ### Optimistic locking:
        - `<bs>.occ`
      parameters:
        - $ref: '#/components/parameters/Force'
      requestBody:
        $ref: '#/components/requestBodies/Bs'
      responses:
        '200':
          $ref: '#/components/responses/Bs'
        default:
          $ref: '#/components/responses/Error'
    delete:
      tags:
        - base-stations
      summary: Delete a base station
      description: |
        Delete a base station.

        ### Access rights:
        - `<NetworkPartner>/a`
        - If the authenticated user has domain restrictions, the base station
          must match the domain restrictions.
      x-rateLimit:
        category: MEDIUM_IMPACT
      responses:
        '204':
          $ref: '#/components/responses/Delete'
        default:
          $ref: '#/components/responses/Error'
    parameters:
      - $ref: '#/components/parameters/Bs'
  '/partners/mine/bss/{bsUid}/admins/antennasGainAndLossStatus':
    get:
      tags:
        - admins
      summary: Retrieve gain and cable loss of all antennas of a base station
      description: |
        Retrieve gain and cable loss of all antennas of a base station.

        Only supported if the following condition is satisfied:
        - The Base Station executes the Actility LRR software (`model.softwareType = 'LRR_LINUX'`)

          AND
        - The LRR software version is &gt;= 2.0.0 (`version >= '2.0.0'`)

        ### Access rights:
        - `<NetworkPartner>/a`
        - If the authenticated user has domain restrictions, the base station
          must match the domain restrictions.
      x-rateLimit:
        category: MEDIUM_IMPACT
      responses:
        '200':
          $ref: '#/components/responses/AntennasGainAndLossStatus'
        default:
          $ref: '#/components/responses/Error'
    parameters:
      - $ref: '#/components/parameters/Bs'
  '/partners/mine/bss/{bsUid}/admins/availableLrrVersions':
    get:
      tags:
        - admins
      summary: Retrieve the list of available LRR software versions of a base station
      description: |
        Retrieve the list of available LRR software versions for this model of
        base station.

        Only supported if the Base Station executes the Actility LRR software (`model.softwareType = 'LRR_LINUX'`).

        Only LRR software version that match the following rules are returned:
        - LRR software version must &gt; than the current version,
        - LRR software version status must be UP-TO-DATE,
        - LRR software version must be &gt;= 1.4.2 (this is the first LRR
          version where HTTP commands are working),
        - If the firmware version and the FPGA version currently installed on
          the Base Station have been reported: LRR software version must be
          compatible with these versions
        - If the firmware version and the FPGA version currently installed on
          the Base Station have not been reported: no firmware version
          compatibility and no FPGA version compatibility must be defined for the
          LRR software version

        ### Access rights:
        - `<NetworkPartner>/x`
        - If the authenticated user has domain restrictions, the base station
          must match the domain restrictions.
      x-rateLimit:
        category: MEDIUM_IMPACT
      responses:
        '200':
          $ref: '#/components/responses/AvailableLrrVersions'
        default:
          $ref: '#/components/responses/Error'
    parameters:
      - $ref: '#/components/parameters/Bs'
  '/partners/mine/bss/{bsUid}/admins/backup':
    post:
      tags:
        - admins
      summary: Backup the current LRR software configuration of a base station
      description: |
        Backup the current LRR software configuration (The previous one is
        erased).

        Only supported if the following condition is satisfied:
        - The Base Station executes the Actility LRR software (`model.softwareType = 'LRR_LINUX'`)

          AND
        - The LRR software version is &gt;= 1.4.12 (`version >= '1.4.12'`)

        ### Access rights:
        - `<NetworkPartner>/a`
        - If the authenticated user has domain restrictions, the base station
          must match the domain restrictions.

        ### Optimistic locking:
        - `<bs>.occ`
      x-rateLimit:
        category: MEDIUM_IMPACT
      requestBody:
        $ref: '#/components/requestBodies/Backup'
      responses:
        '201':
          $ref: '#/components/responses/Backup'
        default:
          $ref: '#/components/responses/Error'
    parameters:
      - $ref: '#/components/parameters/Bs'
  '/partners/mine/bss/{bsUid}/admins/backupSwVersion':
    get:
      tags:
        - admins
      summary: Retrieve the backup version of a base station
      description: |
        Retrieve the backup version.

        Only supported if the following condition is satisfied:
        - The Base Station executes the Actility LRR software (`model.softwareType = 'LRR_LINUX'`)

          AND
        - The LRR software version is &gt;= 1.4.12 (`version >= '1.4.12'`)

        ### Access rights:
        - `<NetworkPartner>/a`
        - If the authenticated user has domain restrictions, the base station
          must match the domain restrictions.
      x-rateLimit:
        category: MEDIUM_IMPACT
      responses:
        '200':
          $ref: '#/components/responses/BackupSwVersion'
        default:
          $ref: '#/components/responses/Error'
    parameters:
      - $ref: '#/components/parameters/Bs'
  '/partners/mine/bss/{bsUid}/admins/cancelRadioScan':
    post:
      tags:
        - admins
      summary: Cancel the analysis of the radio spectrum for a base station
      description: |
        Cancel the analysis of the radio spectrum (the report will not be
        generated).

        Only supported if the following condition is satisfied:
        - The Base Station executes the Actility LRR software (`model.softwareType = 'LRR_LINUX'`)

          AND
        - The LRR software version is &gt;= 1.4.20 (`version >= '1.4.20'`)

        ### Access rights:
        - `<NetworkPartner>/a`
        - If the authenticated user has domain restrictions, the base station
          must match the domain restrictions.

        ### Optimistic locking:
        - `<bs>.occ`
      x-rateLimit:
        category: MEDIUM_IMPACT
      requestBody:
        $ref: '#/components/requestBodies/CancelRadioScan'
      responses:
        '201':
          $ref: '#/components/responses/CancelRadioScan'
        default:
          $ref: '#/components/responses/Error'
    parameters:
      - $ref: '#/components/parameters/Bs'
  '/partners/mine/bss/{bsUid}/admins/downloadLrrVersion':
    post:
      tags:
        - admins
      summary: Download a LRR software package from repository for a base station
      description: |
        Download a LRR software package from repository to be available for LRR software upgrade.

        Only supported if the Base Station executes the Actility LRR software (`model.softwareType = 'LRR_LINUX'`).

        ### Access rights:
        - `<NetworkPartner>/a`
        - If the authenticated user has domain restrictions, the base station
          must match the domain restrictions.

        ### Optimistic locking:
        - `<bs>.occ`
      x-rateLimit:
        category: MEDIUM_IMPACT
      requestBody:
        $ref: '#/components/requestBodies/DownloadLrrVersion'
      responses:
        '201':
          $ref: '#/components/responses/DownloadLrrVersion'
        default:
          $ref: '#/components/responses/Error'
    parameters:
      - $ref: '#/components/parameters/Bs'
  '/partners/mine/bss/{bsUid}/admins/fineTimestampKeysStatus':
    get:
      tags:
        - admins
      summary: Retrieve the fine-timestamps decryption keys of a base station
      description: |
        Retrieve the current fine-timestamps decryption keys.

        Only supported if the following condition is satisfied:
        - The Base Station executes the Actility LRR software (`model.softwareType = 'LRR_LINUX'`)

          AND
        - The LRR software version is &gt;= 2.0.0 (`version >= '2.0.0'`)

        ### Access rights:
        - `<NetworkPartner>/a`
        - If the authenticated user has domain restrictions, the base station
          must match the domain restrictions.
      x-rateLimit:
        category: MEDIUM_IMPACT
      responses:
        '200':
          $ref: '#/components/responses/FineTimestampKeysStatus'
        default:
          $ref: '#/components/responses/Error'
    parameters:
      - $ref: '#/components/parameters/Bs'
  '/partners/mine/bss/{bsUid}/admins/lastCmdStatus':
    get:
      tags:
        - admins
      summary: Retrieve the last command completion status of a base station
      description: |
        Retrieve the last command completion status.

        If the last command completion status is still PROCESSING after 10 minutes and the Base Station is not reachable:
        the last command completion status is automatically moved to ERR_NOEND.

        Only supported if the following condition is satisfied:
        - The Base Station executes the Actility LRR software (`model.softwareType = 'LRR_LINUX'`) and the LRR software version is &gt;= 1.4.12 (`version >= '1.4.12'`)

          OR
        - The Base Station executes the Semtech Basic Station software (`model.softwareType = 'BASIC_STATION_LINUX'`)

        ### Access rights:
        - `<NetworkPartner>/a`
        - If the authenticated user has domain restrictions, the base station
          must match the domain restrictions.
      x-rateLimit:
        category: MEDIUM_IMPACT
      responses:
        '200':
          $ref: '#/components/responses/LastCmdStatus'
        default:
          $ref: '#/components/responses/Error'
    parameters:
      - $ref: '#/components/parameters/Bs'
  '/partners/mine/bss/{bsUid}/admins/locationStatus':
    get:
      tags:
        - admins
      summary: Retrieve the location status of a base station
      description: |
        Retrieve the Base Station location status.

        Only supported if the following condition is satisfied:
        - The Base Station executes the Actility LRR software (`model.softwareType = 'LRR_LINUX'`) and the LRR software version is &gt;= 1.8.0 (`version >= '1.8.0'`)

          OR
        - The Base Station executes the Semtech Basic Station software (`model.softwareType = 'BASIC_STATION_LINUX'`)

        ### Access rights:
        - `<NetworkPartner>/a`
        - If the authenticated user has domain restrictions, the base station
          must match the domain restrictions.
      x-rateLimit:
        category: MEDIUM_IMPACT
      responses:
        '200':
          $ref: '#/components/responses/LocationStatus'
        default:
          $ref: '#/components/responses/Error'
    parameters:
      - $ref: '#/components/parameters/Bs'
  '/partners/mine/bss/{bsUid}/admins/logStatus':
    get:
      tags:
        - admins
      summary: Retrieve the log configuration of a base station
      description: |
        Retrieve the current log configuration.

        Only supported if the following condition is satisfied:
        - The Base Station executes the Actility LRR software (`model.softwareType = 'LRR_LINUX'`)

          AND
        - The LRR software version is &gt;= 2.2.17 (`version >= '2.2.17'`)

        ### Access rights:
        - `<NetworkPartner>/a`
        - If the authenticated user has domain restrictions, the base station
          must match the domain restrictions.
      x-rateLimit:
        category: MEDIUM_IMPACT
      responses:
        '200':
          $ref: '#/components/responses/LogStatus'
        default:
          $ref: '#/components/responses/Error'
    parameters:
      - $ref: '#/components/parameters/Bs'
  '/partners/mine/bss/{bsUid}/admins/reboot':
    post:
      tags:
        - admins
      summary: Reboot a base station
      description: |
        Reboot the Base Station.

        Only supported if the following condition is satisfied:
        - The Base Station executes the Actility LRR software (`model.softwareType = 'LRR_LINUX'`)

          AND
        - The LRR software version is &gt;= 1.4.12 (`version >= '1.4.12'`)

        ### Access rights:
        - `<NetworkPartner>/a`
        - If the authenticated user has domain restrictions, the base station
          must match the domain restrictions.

        ### Optimistic locking:
        - `<bs>.occ`
      x-rateLimit:
        category: MEDIUM_IMPACT
      requestBody:
        $ref: '#/components/requestBodies/Reboot'
      responses:
        '201':
          $ref: '#/components/responses/Reboot'
        default:
          $ref: '#/components/responses/Error'
    parameters:
      - $ref: '#/components/parameters/Bs'
  '/partners/mine/bss/{bsUid}/admins/restart':
    post:
      tags:
        - admins
      summary: Restart the LRR software of a base station
      description: |
        Restart the LRR software.

        Only supported if the following condition is satisfied:
        - The Base Station executes the Actility LRR software (`model.softwareType = 'LRR_LINUX'`)

          AND
        - The LRR software version is &gt;= 1.4.12 (`version >= '1.4.12'`)

        ### Access rights:
        - `<NetworkPartner>/a`
        - If the authenticated user has domain restrictions, the base station
          must match the domain restrictions.

        ### Optimistic locking:
        - `<bs>.occ`
      x-rateLimit:
        category: MEDIUM_IMPACT
      requestBody:
        $ref: '#/components/requestBodies/Restart'
      responses:
        '201':
          $ref: '#/components/responses/Restart'
        default:
          $ref: '#/components/responses/Error'
    parameters:
      - $ref: '#/components/parameters/Bs'
  '/partners/mine/bss/{bsUid}/admins/restore':
    post:
      tags:
        - admins
      summary: Restore the backup LRR software configuration of a base station
      description: |
        Restore the backup LRR software configuration (The current one is
        erased).

        Only supported if the following condition is satisfied:
        - The Base Station executes the Actility LRR software (`model.softwareType = 'LRR_LINUX'`)

          AND
        - The LRR software version is &gt;= 1.4.12 (`version >= '1.4.12'`)

        ### Access rights:
        - `<NetworkPartner>/a`
        - If the authenticated user has domain restrictions, the base station
          must match the domain restrictions.

        ### Optimistic locking:
        - `<bs>.occ`
      x-rateLimit:
        category: MEDIUM_IMPACT
      requestBody:
        $ref: '#/components/requestBodies/Restore'
      responses:
        '201':
          $ref: '#/components/responses/Restore'
        default:
          $ref: '#/components/responses/Error'
    parameters:
      - $ref: '#/components/parameters/Bs'
  '/partners/mine/bss/{bsUid}/admins/rfRegionStatus':
    get:
      tags:
        - admins
      summary: Retrieve the RF region of a base station
      description: |
        Retrieve the current RF Region provisioning ID and version.

        Only supported if the following condition is satisfied:
        - The Base Station executes the Actility LRR software (`model.softwareType = 'LRR_LINUX'`) and the LRR software version is &gt;= 1.8.0 (`version >= '1.8.0'`)

          OR
        - The Base Station executes the Semtech Basic Station software (`model.softwareType = 'BASIC_STATION_LINUX'`)

        ### Access rights:
        - `<NetworkPartner>/a`
        - If the authenticated user has domain restrictions, the base station
          must match the domain restrictions.
      x-rateLimit:
        category: MEDIUM_IMPACT
      responses:
        '200':
          $ref: '#/components/responses/RfRegionStatus'
        default:
          $ref: '#/components/responses/Error'
    parameters:
      - $ref: '#/components/parameters/Bs'
  '/partners/mine/bss/{bsUid}/admins/rfcDownlinkStop':
    post:
      tags:
        - admins
      summary: Stop the RF cell downlink communication of a base station
      description: |
        Stop the RF cell downlink communication.

        Only supported if the following condition is satisfied:
        - The Base Station executes the Actility LRR software (`model.softwareType = 'LRR_LINUX'`)

          AND
        - The LRR software version is &gt;= 1.4.12 (`version >= '1.4.12'`)

        ### Access rights:
        - `<NetworkPartner>/a`
        - If the authenticated user has domain restrictions, the base station
          must match the domain restrictions.

        ### Optimistic locking:
        - `<bs>.occ`
      x-rateLimit:
        category: MEDIUM_IMPACT
      requestBody:
        $ref: '#/components/requestBodies/RfcDownlinkStop'
      responses:
        '201':
          $ref: '#/components/responses/RfcDownlinkStop'
        default:
          $ref: '#/components/responses/Error'
    parameters:
      - $ref: '#/components/parameters/Bs'
  '/partners/mine/bss/{bsUid}/admins/rfcStart':
    post:
      tags:
        - admins
      summary: Restart the RF cell uplink and downlink communication of a base station
      description: |
        Restart the RF cell uplink and downlink communication.

        Only supported if the following condition is satisfied:
        - The Base Station executes the Actility LRR software (`model.softwareType = 'LRR_LINUX'`)

          AND
        - The LRR software version is &gt;= 1.4.12 (`version >= '1.4.12'`)

        ### Access rights:
        - `<NetworkPartner>/a`
        - If the authenticated user has domain restrictions, the base station
          must match the domain restrictions.

        ### Optimistic locking:
        - `<bs>.occ`
      x-rateLimit:
        category: MEDIUM_IMPACT
      requestBody:
        $ref: '#/components/requestBodies/RfcStart'
      responses:
        '201':
          $ref: '#/components/responses/RfcStart'
        default:
          $ref: '#/components/responses/Error'
    parameters:
      - $ref: '#/components/parameters/Bs'
  '/partners/mine/bss/{bsUid}/admins/rfcStatus':
    get:
      tags:
        - admins
      summary: Retrieve the RF cell status of a base station
      description: |
        Retrieve the RF Cell state.

        Only supported if the following condition is satisfied:
        - The Base Station executes the Actility LRR software (`model.softwareType = 'LRR_LINUX'`)

          AND
        - The LRR software version is &gt;= 1.4.12 (`version >= '1.4.12'`)

        ### Access rights:
        - `<NetworkPartner>/a`
        - If the authenticated user has domain restrictions, the base station
          must match the domain restrictions.
      x-rateLimit:
        category: MEDIUM_IMPACT
      responses:
        '200':
          $ref: '#/components/responses/RfcStatus'
        default:
          $ref: '#/components/responses/Error'
    parameters:
      - $ref: '#/components/parameters/Bs'
  '/partners/mine/bss/{bsUid}/admins/rfcStop':
    post:
      tags:
        - admins
      summary: Stop the RF cell uplink and downlink communication of a base station
      description: |
        Stop the RF cell uplink and downlink communication.

        Only supported if the following condition is satisfied:
        - The Base Station executes the Actility LRR software (`model.softwareType = 'LRR_LINUX'`)

          AND
        - The LRR software version is &gt;= 1.4.12 (`version >= '1.4.12'`)

        ### Access rights:
        - `<NetworkPartner>/a`
        - If the authenticated user has domain restrictions, the base station
          must match the domain restrictions.

        ### Optimistic locking:
        - `<bs>.occ`
      x-rateLimit:
        category: MEDIUM_IMPACT
      requestBody:
        $ref: '#/components/requestBodies/RfcStop'
      responses:
        '201':
          $ref: '#/components/responses/RfcStop'
        default:
          $ref: '#/components/responses/Error'
    parameters:
      - $ref: '#/components/parameters/Bs'
  '/partners/mine/bss/{bsUid}/admins/scanRadio':
    post:
      tags:
        - admins
      summary: Start an analysis of the radio spectrum for a base station
      description: |
        Start an analysis of the radio spectrum.

        Only supported if the following condition is satisfied:
        - The Base Station executes the Actility LRR software (`model.softwareType = 'LRR_LINUX'`)

          AND
        - The LRR software version is &gt;= 1.4.20 (`version >= '1.4.20'`)

        ### Access rights:
        - `<NetworkPartner>/a`
        - If the authenticated user has domain restrictions, the base station
          must match the domain restrictions.

        ### Optimistic locking:
        - `<bs>.occ`
      x-rateLimit:
        category: MEDIUM_IMPACT
      requestBody:
        $ref: '#/components/requestBodies/ScanRadio'
      responses:
        '201':
          $ref: '#/components/responses/ScanRadio'
        default:
          $ref: '#/components/responses/Error'
    parameters:
      - $ref: '#/components/parameters/Bs'
  '/partners/mine/bss/{bsUid}/admins/scanRadioStatus':
    get:
      tags:
        - admins
      summary: Retrieve the RF scan status of a base station
      description: |
        Retrieve the RF scan status.

        Only supported if the following condition is satisfied:
        - The Base Station executes the Actility LRR software (`model.softwareType = 'LRR_LINUX'`)

          AND
        - The LRR software version is &gt;= 1.4.20 (`version >= '1.4.20'`)

        ### Access rights:
        - `<NetworkPartner>/a`
        - If the authenticated user has domain restrictions, the base station
          must match the domain restrictions.
      x-rateLimit:
        category: MEDIUM_IMPACT
      responses:
        '200':
          $ref: '#/components/responses/ScanRadioStatus'
        default:
          $ref: '#/components/responses/Error'
    parameters:
      - $ref: '#/components/parameters/Bs'
  '/partners/mine/bss/{bsUid}/admins/settings':
    put:
      tags:
        - admins
      summary: Update the administration settings of a base station
      description: |
        Update the administration settings

        ### Access rights:
        - `<NetworkPartner>/a`
        - If the authenticated user has domain restrictions, the base station
          must match the domain restrictions.

        ### Optimistic locking:
        - `<bs>.occ`
      x-rateLimit:
        category: MEDIUM_IMPACT
      requestBody:
        $ref: '#/components/requestBodies/AdminSettings'
      responses:
        '200':
          $ref: '#/components/responses/AdminSettings'
        default:
          $ref: '#/components/responses/Error'
    parameters:
      - $ref: '#/components/parameters/Bs'
  '/partners/mine/bss/{bsUid}/admins/softwareUptime':
    get:
      tags:
        - admins
      summary: Retrieve the LRR software uptime of a base station
      description: |
        Retrieve the LRR software uptime.

        Only supported if the following condition is satisfied:
        - The Base Station executes the Actility LRR software (`model.softwareType = 'LRR_LINUX'`)

          AND
        - The LRR software version is &gt;= 1.4.12 (`version >= '1.4.12'`)

        ### Access rights:
        - `<NetworkPartner>/a`
        - If the authenticated user has domain restrictions, the base station
          must match the domain restrictions.
      x-rateLimit:
        category: MEDIUM_IMPACT
      responses:
        '200':
          $ref: '#/components/responses/SoftwareUptime'
        default:
          $ref: '#/components/responses/Error'
    parameters:
      - $ref: '#/components/parameters/Bs'
  '/partners/mine/bss/{bsUid}/admins/swVersion':
    get:
      tags:
        - admins
      summary: Retrieve the LRR software version of a base station
      description: |
        Retrieve the LRR software version

        Only supported if the following condition is satisfied:
        - The Base Station executes the Actility LRR software (`model.softwareType = 'LRR_LINUX'`)

          AND
        - The LRR software version is &gt;= 1.4.12 (`version >= '1.4.12'`)

        ### Access rights:
        - `<NetworkPartner>/a`
        - If the authenticated user has domain restrictions, the base station
          must match the domain restrictions.
      x-rateLimit:
        category: MEDIUM_IMPACT
      responses:
        '200':
          $ref: '#/components/responses/SwVersion'
        default:
          $ref: '#/components/responses/Error'
    parameters:
      - $ref: '#/components/parameters/Bs'
  '/partners/mine/bss/{bsUid}/admins/systemUptime':
    get:
      tags:
        - admins
      summary: Retrieve the system uptime of a base station
      description: |
        Retrieve the BS uptime.

        Only supported if the following condition is satisfied:
        - The Base Station executes the Actility LRR software (`model.softwareType = 'LRR_LINUX'`)

          AND
        - The LRR software version is &gt;= 1.4.12 (`version >= '1.4.12'`)

        ### Access rights:
        - `<NetworkPartner>/a`
        - If the authenticated user has domain restrictions, the base station
          must match the domain restrictions.
      x-rateLimit:
        category: MEDIUM_IMPACT
      responses:
        '200':
          $ref: '#/components/responses/SystemUptime'
        default:
          $ref: '#/components/responses/Error'
    parameters:
      - $ref: '#/components/parameters/Bs'
  '/partners/mine/bss/{bsUid}/admins/updateAntennasGainAndLoss':
    post:
      tags:
        - admins
      summary: Update the gain and cable loss for all antennas of a base station
      description: |
        Update the gain and cable loss for all antennas.

        Only supported if the following condition is satisfied:
        - The Base Station executes the Actility LRR software (`model.softwareType = 'LRR_LINUX'`)

          AND
        - The LRR software version is &gt;= 2.0.0 (`version >= '2.0.0'`)

        ### Access rights:
        - `<NetworkPartner>/a`
        - If the authenticated user has domain restrictions, the base station
          must match the domain restrictions.

        ### Optimistic locking:
        - `<bs>.occ`
      x-rateLimit:
        category: MEDIUM_IMPACT
      requestBody:
        $ref: '#/components/requestBodies/UpdateAntennasGainAndLoss'
      responses:
        '201':
          $ref: '#/components/responses/UpdateAntennasGainAndLoss'
        default:
          $ref: '#/components/responses/Error'
    parameters:
      - $ref: '#/components/parameters/Bs'
  '/partners/mine/bss/{bsUid}/admins/updateFineTimestampKeys':
    post:
      tags:
        - admins
      summary: Update the fine-timestamps decryption keys of a base station
      description: |
        Update the fine-timestamps decryption keys.

        Only supported if the following condition is satisfied:
        - The Base Station executes the Actility LRR software (`model.softwareType = 'LRR_LINUX'`)

          AND
        - The LRR software version is &gt;= 2.0.0 (`version >= '2.0.0'`)

        ### Access rights:
        - `<NetworkPartner>/a`
        - If the authenticated user has domain restrictions, the base station
          must match the domain restrictions.

        ### Optimistic locking:
        - `<bs>.occ`
      x-rateLimit:
        category: MEDIUM_IMPACT
      requestBody:
        $ref: '#/components/requestBodies/UpdateFineTimestampKeys'
      responses:
        '201':
          $ref: '#/components/responses/UpdateFineTimestampKeys'
        default:
          $ref: '#/components/responses/Error'
    parameters:
      - $ref: '#/components/parameters/Bs'
  '/partners/mine/bss/{bsUid}/admins/updateLocation':
    post:
      tags:
        - admins
      summary: Update the location of a base station
      description: |
        Update the Base Station location.

        Only supported if the following condition is satisfied:
        - The Base Station executes the Actility LRR software (`model.softwareType = 'LRR_LINUX'`) and the LRR software version is &gt;= 1.8.0 (`version >= '1.8.0'`)

          OR
        - The Base Station executes the Semtech Basic Station software (`model.softwareType = 'BASIC_STATION_LINUX'`)

        ### Access rights:
        - `<NetworkPartner>/a`
        - If the authenticated user has domain restrictions, the base station
          must match the domain restrictions.

        ### Optimistic locking:
        - `<bs>.occ`
      x-rateLimit:
        category: MEDIUM_IMPACT
      requestBody:
        $ref: '#/components/requestBodies/UpdateLocation'
      responses:
        '201':
          $ref: '#/components/responses/UpdateLocation'
        default:
          $ref: '#/components/responses/Error'
    parameters:
      - $ref: '#/components/parameters/Bs'
  '/partners/mine/bss/{bsUid}/admins/updateLog':
    post:
      tags:
        - admins
      summary: Update the log configuration of a base station
      description: |
        Update the log configuration.

        Only supported if the following condition is satisfied:
        - The Base Station executes the Actility LRR software (`model.softwareType = 'LRR_LINUX'`)

          AND
        - The LRR software version is &gt;= 2.2.17 (`version >= '2.2.17'`)

        ### Access rights:
        - `<NetworkPartner>/a`
        - If the authenticated user has domain restrictions, the base station
          must match the domain restrictions.

        ### Optimistic locking:
        - `<bs>.occ`
      x-rateLimit:
        category: MEDIUM_IMPACT
      requestBody:
        $ref: '#/components/requestBodies/UpdateLog'
      responses:
        '201':
          $ref: '#/components/responses/UpdateLog'
        default:
          $ref: '#/components/responses/Error'
    parameters:
      - $ref: '#/components/parameters/Bs'
  '/partners/mine/bss/{bsUid}/admins/updateRfRegion':
    post:
      tags:
        - admins
      summary: Update the RF region of a base station
      description: |
        Update the LRR RF Region.

        Only supported if the following condition is satisfied:
        - The Base Station executes the Actility LRR software (`model.softwareType = 'LRR_LINUX'`) and the LRR software version is &gt;= 1.8.0 (`version >= '1.8.0'`)

          OR
        - The Base Station executes the Semtech Basic Station software (`model.softwareType = 'BASIC_STATION_LINUX'`)

        ### Access rights:
        - `<NetworkPartner>/a`
        - If the authenticated user has domain restrictions, the base station
          must match the domain restrictions.

        ### Optimistic locking:
        - `<bs>.occ`
      x-rateLimit:
        category: MEDIUM_IMPACT
      requestBody:
        $ref: '#/components/requestBodies/UpdateRfRegion'
      responses:
        '201':
          $ref: '#/components/responses/UpdateRfRegion'
        default:
          $ref: '#/components/responses/Error'
    parameters:
      - $ref: '#/components/parameters/Bs'
  '/partners/mine/bss/{bsUid}/admins/upgrade':
    post:
      tags:
        - admins
      summary: Upgrade the LRR software of a base station
      description: |
        Upgrade the LRR software version.

        Only supported if the following condition is satisfied:
        - The Base Station executes the Actility LRR software (`model.softwareType = 'LRR_LINUX'`)

          AND
        - The LRR software version is &gt;= 1.4.12 (`version >= '1.4.12'`)

        The following rules must be matched:
        - Target version must &gt; than the current version
        - Target version status must be UP-TO-DATE

        ### Access rights:
        - `<NetworkPartner>/a`
        - If the authenticated user has domain restrictions, the base station
          must match the domain restrictions.

        ### Optimistic locking:
        - `<bs>.occ`
      x-rateLimit:
        category: MEDIUM_IMPACT
      requestBody:
        $ref: '#/components/requestBodies/Upgrade'
      responses:
        '201':
          $ref: '#/components/responses/Upgrade'
        default:
          $ref: '#/components/responses/Error'
    parameters:
      - $ref: '#/components/parameters/Bs'
  '/partners/mine/bss/{bsUid}/admins/basicsStation/remoteShells':
    parameters:
      - $ref: '#/components/parameters/Bs'
    get:
      tags:
        - admins
      summary: List remote shell sessions
      description: |
        List remote shell sessions. This operation is available only for basics station models.

        ### Access rights:
        - `<NetworkPartner>/a`
        - If the authenticated user has domain restrictions, the base station
          must match the domain restrictions.

      x-rateLimit:
        category: MEDIUM_IMPACT
      responses:
        '200':
          $ref: '#/components/responses/BasicsStationRemoteShellSessions'
        default:
          $ref: '#/components/responses/ErrorJsonOnly'
  '/partners/mine/bss/{bsUid}/admins/basicsStation/remoteShells/{remoteShellIdx}':
    parameters:
      - $ref: '#/components/parameters/Bs'
      - $ref: '#/components/parameters/RemoteShellIdx'
      - name: term
        in: query
        required: false
        description: the `TERM` env var value
        schema:
          type: string
    get:
      tags:
        - admins
      summary: Start the remote shell session
      description: |
        Start the remote shell session. This operation is available only for basics station models.

        The operation is expected a websocket connection. Session input / output is transported
        as websocket message.

        The session will be automatically stopped on websocket close.

        ### Access rights:
        - `<NetworkPartner>/a`
        - If the authenticated user has domain restrictions, the base station
          must match the domain restrictions.

      x-rateLimit:
        category: HIGH_IMPACT
      responses:
        '101':
          description: Upgrade to websocket
        default:
          $ref: '#/components/responses/ErrorJsonOnly'
  '/partners/mine/bss/{bsUid}/admins/basicsStation/remoteShells/{remoteShellIdx}/stop':
    parameters:
      - $ref: '#/components/parameters/Bs'
      - $ref: '#/components/parameters/RemoteShellIdx'
    post:
      tags:
        - admins
      summary: Stop the remote shell session
      description: |
        Stop the remote shell session. This operation is available only for basics station models.

        ### Access rights:
        - `<NetworkPartner>/a`
        - If the authenticated user has domain restrictions, the base station
          must match the domain restrictions.

      x-rateLimit:
        category: HIGH_IMPACT
      responses:
        '204':
          description: Session stopped
        default:
          $ref: '#/components/responses/ErrorJsonOnly'
  '/partners/mine/bss/{bsUid}/alarms':
    get:
      tags:
        - alarms
      summary: Retrieve alarms of a base station
      description: |
        Retrieve a list of alarms associated with a given base station.
        Alarms are filtered according to the query parameters.
        Alarms are sorted by last update timestamp in descending order.

        For more information about possible alarms, see <a href="./alarms.html" target="_blank">Alarms</a>.

        ### Access rights:
        - `<NetworkPartner>/x`
        - If the authenticated user has domain restrictions, the base station
          must match the domain restrictions.
      parameters:
        - $ref: '#/components/parameters/PageIndex'
        - $ref: '#/components/parameters/Language-tag'
        - $ref: '#/components/parameters/TimestampFrom'
        - $ref: '#/components/parameters/TimestampTo'
        - $ref: '#/components/parameters/AlarmID'
        - $ref: '#/components/parameters/AlarmState'
        - $ref: '#/components/parameters/AlarmAcked'
      responses:
        '200':
          $ref: '#/components/responses/AlarmsActive'
        default:
          $ref: '#/components/responses/Error'
    parameters:
      - $ref: '#/components/parameters/Bs'
  '/partners/mine/bss/{bsUid}/alarms/ack':
    post:
      tags:
        - alarms
      summary: Ack a list of alarms for a base station
      description: |
        Acknowledge a list of alarms associated with a given base station.
        Alarms to acknowledge are filtered according to the query parameters.

        ### Access rights:
        - `<NetworkPartner>/a`
        - If the authenticated user has domain restrictions, the base station
          must match the domain restrictions.
      x-rateLimit:
        category: MEDIUM_IMPACT
      parameters:
        - $ref: '#/components/parameters/TimestampFrom'
        - $ref: '#/components/parameters/TimestampTo'
        - $ref: '#/components/parameters/AlarmID'
        - $ref: '#/components/parameters/AlarmState'
        - $ref: '#/components/parameters/KpiAlgo'
      responses:
        '201':
          description: Operation success
        default:
          $ref: '#/components/responses/Error'
    parameters:
      - $ref: '#/components/parameters/Bs'
  '/partners/mine/bss/{bsUid}/alarms/histories':
    get:
      tags:
        - alarms
      summary: Retrieve alarms history of a base station
      description: |
        Retrieve the alarms history (cleared alarms) associated with a given base station.
        Alarms are filtered according to the query parameters.
        Alarms are sorted by clearance timestamp in descending order.

        For more information about possible alarms, see <a href="./alarms.html" target="_blank">Alarms</a>.

        ### Access rights:
        - `<NetworkPartner>/x`
        - If the authenticated user has domain restrictions, the base station
          must match the domain restrictions.
      parameters:
        - $ref: '#/components/parameters/PageIndex'
        - $ref: '#/components/parameters/Language-tag'
        - $ref: '#/components/parameters/TimestampFrom'
        - $ref: '#/components/parameters/TimestampTo'
        - $ref: '#/components/parameters/AlarmID'
        - $ref: '#/components/parameters/AlarmIndex'
        - $ref: '#/components/parameters/AlarmHistoryState'
        - $ref: '#/components/parameters/AlarmAcked'
      responses:
        '200':
          $ref: '#/components/responses/Alarms'
        default:
          $ref: '#/components/responses/Error'
    parameters:
      - $ref: '#/components/parameters/Bs'
  '/partners/mine/bss/{bsUid}/alarms/{alarmUid}/ack':
    post:
      tags:
        - alarms
      summary: Ack a base station alarm
      description: |
        Acknowledge a base station alarm identified by its Uid.

        ### Access rights:
        - `<NetworkPartner>/a`
        - If the authenticated user has domain restrictions, the base station
          must match the domain restrictions.
      responses:
        '201':
          description: Operation success
        default:
          $ref: '#/components/responses/Error'
    parameters:
      - $ref: '#/components/parameters/Alarm'
      - $ref: '#/components/parameters/Bs'
  '/partners/mine/bss/{bsUid}/ants':
    get:
      tags:
        - base-stations
      summary: Retrieve the RF antennas of a base station
      description: |
        Retrieve the list of antennas attached to the base station.

        ### Access rights:
        - `<NetworkPartner>/x`
        - If the authenticated user has domain restrictions, the base station
          must match the domain restrictions.
      responses:
        '200':
          $ref: '#/components/responses/Ants'
        default:
          $ref: '#/components/responses/Error'
    parameters:
      - $ref: '#/components/parameters/Bs'
  '/partners/mine/bss/{bsUid}/ants/{antUid}':
    get:
      tags:
        - base-stations
      summary: Retrieve a base station RF antenna
      description: |
        Retrieve an antenna detail.

        ### Access rights:
        - `<NetworkPartner>/x`
        - If the authenticated user has domain restrictions, the base station
          must match the domain restrictions.
      responses:
        '200':
          $ref: '#/components/responses/Ant'
        default:
          $ref: '#/components/responses/Error'
    put:
      tags:
        - base-stations
      summary: Update a base station RF antenna
      description: |
        Update an antenna.

        ### Access rights:
        - `<NetworkPartner>/a`
        - If the authenticated user has domain restrictions, the base station
          must match the domain restrictions.

        ### Optimistic locking:
        - `<bs>.occ`
      parameters:
        - $ref: '#/components/parameters/Force'
      requestBody:
        $ref: '#/components/requestBodies/Ant'
      responses:
        '200':
          $ref: '#/components/responses/Ant'
        default:
          $ref: '#/components/responses/Error'
    parameters:
      - $ref: '#/components/parameters/Ant'
      - $ref: '#/components/parameters/Bs'
  '/partners/mine/bss/{bsUid}/ants/{antUid}/images':
    get:
      tags:
        - base-stations
      summary: Retrieve the images of a base station RF antenna
      description: |
        Retrieve the list of images associated to an antenna.

        Results are not ordered.

        ### Access rights:
        - `<NetworkPartner>/x`
        - If the authenticated user has domain restrictions, the base station
          must match the domain restrictions.
      parameters:
        - $ref: '#/components/parameters/PageIndex'
      responses:
        '200':
          $ref: '#/components/responses/Images'
        default:
          $ref: '#/components/responses/Error'
    post:
      tags:
        - base-stations
      summary: Upload an image of a base station RF antenna
      description: |
        Upload an image of a base station antenna.

        The image is directly transported in the HTTP payload (for instance with
        an image/jpeg content-type).

        ### Access rights:
        - `<NetworkPartner>/a`
        - If the authenticated user has domain restrictions, the base station
          must match the domain restrictions.
      requestBody:
        content:
          image/jpeg:
            schema:
              type: string
              format: binary
      responses:
        '204':
          description: Operation success
        default:
          $ref: '#/components/responses/Error'
    parameters:
      - $ref: '#/components/parameters/Ant'
      - $ref: '#/components/parameters/Bs'
  '/partners/mine/bss/{bsUid}/ants/{antUid}/images/{imageUid}':
    get:
      tags:
        - base-stations
      summary: Retrieve an image of a base station RF antenna
      description: |
        Retrieve an image.

        The image is directly transported in the HTTP payload (for instance with
        an image/jpeg content-type).

        ### Access rights:
        - `<NetworkPartner>/x`
        - If the authenticated user has domain restrictions, the base station
          must match the domain restrictions.
      responses:
        '200':
          description: Image successfuly retrieves
          content:
            image/jpeg:
              schema:
                type: string
                format: binary
        default:
          $ref: '#/components/responses/Error'
    delete:
      tags:
        - base-stations
      summary: Delete an image of a base station RF antenna
      description: |
        Remove an image to the antenna.

        ### Access rights:
        - `<NetworkPartner>/a`
        - If the authenticated user has domain restrictions, the base station
          must match the domain restrictions.
      responses:
        '204':
          $ref: '#/components/responses/Delete'
        default:
          $ref: '#/components/responses/Error'
    parameters:
      - $ref: '#/components/parameters/Ant'
      - $ref: '#/components/parameters/Bs'
      - $ref: '#/components/parameters/Image'
  '/partners/mine/bss/{bsUid}/check':
    get:
      tags:
        - base-stations
      summary: Retrieve the states of a base station
      description: |
        Retrieve the current states of the base stations.

        ### Access rights:
        - `<NetworkPartner>/x`
        - If the authenticated user has domain restrictions, the base station
          must match the domain restrictions.
      responses:
        '200':
          $ref: '#/components/responses/Check'
        default:
          $ref: '#/components/responses/Error'
    parameters:
      - $ref: '#/components/parameters/Bs'
  '/partners/mine/bss/{bsUid}/frames':
    get:
      tags:
        - base-stations
      summary: Retrieve the radio traffic history of a base station
      description: |
        Retrieve the uplink and downlink frames history:
        - Number of uplink and downlink frame per aggregated time slot
        - Cumulated payload size (expressed in kilo bytes) for uplink and down
        link frame per aggregated time slot

        ### Access rights:
        - `<NetworkPartner>/x`
        - If the authenticated user has domain restrictions, the base station
          must match the domain restrictions.
      x-rateLimit:
        category: MEDIUM_IMPACT
      parameters:
        - name: begin
          in: query
          description: >
            Date/time of the first frame to retrieve (OPTIONAL).


            Syntax: ISO 8601 date/time including time offset. If no time offset is provided the server's offset is used by default.


            Default value: When this query parameter is not specified the last frames are retrieved by default.
          schema:
            type: string
            format: date-time
        - $ref: '#/components/parameters/DurationDaysHours'
        - $ref: '#/components/parameters/AggregationStep'
        - $ref: '#/components/parameters/KpiAlgo'
        - $ref: '#/components/parameters/Timezone'
      responses:
        '200':
          $ref: '#/components/responses/Frames'
        default:
          $ref: '#/components/responses/Error'
    parameters:
      - $ref: '#/components/parameters/Bs'
  '/partners/mine/bss/{bsUid}/regenerateCertificate':
    post:
      tags:
        - base-stations
      summary: Regenerate the certificate of a base station
      description: |
        Revoke the current X.509 certificate and generate a new one.

        ### Access rights:
        - `<NetworkPartner>/a`
        - If the authenticated user has domain restrictions, the base station
          must match the domain restrictions.
      responses:
        '204':
          description: Operation success
        default:
          $ref: '#/components/responses/Error'
    parameters:
      - $ref: '#/components/parameters/Bs'
  '/partners/mine/bss/{bsUid}/rfcell/ants/{antUid}/lcs/{lcId}/dutyCycles':
    get:
      tags:
        - rfcell
      summary: Retrieve the duty cycle records for a base station antenna on a logical
        channel
      description: |
        Retrieve the duty cycle records.

        ### Access rights:
        - `<NetworkPartner>/x`
        - If the authenticated user has domain restrictions, the base station
          must match the domain restrictions.
      responses:
        '200':
          $ref: '#/components/responses/DutyCycles'
        default:
          $ref: '#/components/responses/Error'
    parameters:
      - $ref: '#/components/parameters/Ant'
      - $ref: '#/components/parameters/Bs'
      - $ref: '#/components/parameters/Lc'
  '/partners/mine/bss/{bsUid}/rfcell/ants/{antUid}/lcs/{lcId}/dutyCycles/histories':
    get:
      tags:
        - rfcell
      summary: Retrieve the duty cycle history for a base station antenna on a logical
        channel
      description: |
        Retrieve the duty cycle history.

        ### Access rights:
        - `<NetworkPartner>/x`
        - If the authenticated user has domain restrictions, the base station
          must match the domain restrictions.
      x-rateLimit:
        category: MEDIUM_IMPACT
      parameters:
        - $ref: '#/components/parameters/BeginFirstReportAnalyse'
        - $ref: '#/components/parameters/DurationDaysHours'
        - $ref: '#/components/parameters/AggregationStep'
        - $ref: '#/components/parameters/KpiAlgo'
        - $ref: '#/components/parameters/Timezone'
      responses:
        '200':
          $ref: '#/components/responses/HistoriesDutyCycles'
        default:
          $ref: '#/components/responses/Error'
    parameters:
      - $ref: '#/components/parameters/Ant'
      - $ref: '#/components/parameters/Bs'
      - $ref: '#/components/parameters/Lc'
  '/partners/mine/bss/{bsUid}/rfcell/ants/{antUid}/lcs/{lcId}/dutyCycles/reset':
    post:
      tags:
        - rfcell
      summary: Reset the duty cycle records for a base station antenna on a logical
        channel
      description: |
        Reset the duty cycle records.

        ### Access rights:
        - `<NetworkPartner>/a`
        - If the authenticated user has domain restrictions, the base station
          must match the domain restrictions.
      parameters:
        - $ref: '#/components/parameters/ResetAll'
      responses:
        '204':
          description: Operation success
        default:
          $ref: '#/components/responses/Error'
    parameters:
      - $ref: '#/components/parameters/Ant'
      - $ref: '#/components/parameters/Bs'
      - $ref: '#/components/parameters/Lc'
  '/partners/mine/bss/{bsUid}/rfcell/ants/{antUid}/lcs/{lcId}/signalsAndNoises':
    get:
      tags:
        - rfcell
      summary: Retrieve the signal strength and noise records for a base station
        antenna on a logical channel
      description: |
        Retrieve the signal strength and noise records.

        ### Access rights:
        - `<NetworkPartner>/x`
        - If the authenticated user has domain restrictions, the base station
          must match the domain restrictions.
      responses:
        '200':
          $ref: '#/components/responses/SignalsAndNoises'
        default:
          $ref: '#/components/responses/Error'
    parameters:
      - $ref: '#/components/parameters/Ant'
      - $ref: '#/components/parameters/Bs'
      - $ref: '#/components/parameters/Lc'
  '/partners/mine/bss/{bsUid}/rfcell/ants/{antUid}/lcs/{lcId}/signalsAndNoises/reset':
    post:
      tags:
        - rfcell
      summary: Reset the signal strength and noise records for a base station antenna
        on a logical channel
      description: |
        Reset the signal strength and noise records (by default for the given logical
        channel).

        ### Access rights:
        - `<NetworkPartner>/a`
        - If the authenticated user has domain restrictions, the base station
          must match the domain restrictions.
      parameters:
        - $ref: '#/components/parameters/ResetAll'
      responses:
        '204':
          description: Operation success
        default:
          $ref: '#/components/responses/Error'
    parameters:
      - $ref: '#/components/parameters/Ant'
      - $ref: '#/components/parameters/Bs'
      - $ref: '#/components/parameters/Lc'
  '/partners/mine/bss/{bsUid}/rfcell/ants/{antUid}/lcs/{lcId}/signalsAndNoises/snDistributions':
    get:
      tags:
        - rfcell
      summary: Retrieve the signal strength and noise distributions for a base station
        antenna on a logical channel
      description: |
        Analyze the RSSI (Received Signal Strength Indicator), SNR (Signal to
        Noise Ratio) or ESP (Estimated Signal Power) distribution for uplink
        packets over a reference period for a given logical channel (LC):
        - Uplink frames RSSI distribution,
        - Uplink frames SNR distribution,
        - Uplink frames ESP distribution.

        ### Access rights:
        - `<NetworkPartner>/x`
        - If the authenticated user has domain restrictions, the base station
          must match the domain restrictions.
      x-rateLimit:
        category: MEDIUM_IMPACT
      parameters:
        - $ref: '#/components/parameters/BeginFirstFrameAnalyse'
        - $ref: '#/components/parameters/DurationHoursMinutes'
        - name: precision
          deprecated: true
          in: query
          description: |
            Define the precision of each level (OPTIONAL)

            Default value: When this query parameter is not specified a
            precision of **1 dBm** is used for RSSI and ESP, and a precision of **0.2
            dB** is used for SNR

            Supported precision: Between **0.1 ... 1***

            This parameter must no longer be used: the default precision must be used.
          schema:
            type: number
            format: float
        - name: type
          in: query
          description: >
            Type of the analysis to perform ("RSSI", "SNR" or "ESP")


            Default value: When this query parameter is not specified a RSSI analysis is performed.
          schema:
            enum:
              - RSSI
              - SNR
              - ESP
            type: string
        - $ref: '#/components/parameters/KpiAlgo'
      responses:
        '200':
          $ref: '#/components/responses/SnDistributions'
        default:
          $ref: '#/components/responses/Error'
    parameters:
      - $ref: '#/components/parameters/Ant'
      - $ref: '#/components/parameters/Bs'
      - $ref: '#/components/parameters/Lc'
  '/partners/mine/bss/{bsUid}/rfcell/ants/{antUid}/spreadingFactors/sfDistributions':
    get:
      tags:
        - rfcell
      summary: Retrieve the spreading factor distribution for a base station antenna
      description: |
        Analyze the spreading factor (SF) distribution for uplink and downlink
        packets over a reference period for a range of logical channels:
        - Uplink frames SF distribution,
        - Downlink frames SF distribution.

        ### Access rights:
        - `<NetworkPartner>/x`
        - If the authenticated user has domain restrictions, the base station
          must match the domain restrictions.
      parameters:
        - name: lcs
          deprecated: true
          in: query
          description: |
            Logical channels considered for SF distribution:
            - A logical channel (e.g. 255)
            - A list of logical channels (e.g. 1,2,3)
            - A range of logical channels (e.g. 0-254)

            Default value: When this query parameter is not specified all
            logical channels are considered.

            This parameter must no longer be used: SF distribution should be done on all logical channels.
          example: '1,2,3'
          schema:
            type: string
        - $ref: '#/components/parameters/BeginFirstFrameAnalyse'
        - $ref: '#/components/parameters/DurationHoursMinutes'
      responses:
        '200':
          $ref: '#/components/responses/SfDistributions'
        default:
          $ref: '#/components/responses/Error'
    parameters:
      - $ref: '#/components/parameters/Ant'
      - $ref: '#/components/parameters/Bs'
  '/partners/mine/bss/{bsUid}/rfcell/beacons':
    get:
      tags:
        - rfcell
      summary: Retrieve the beacon transmissions statistics of a base station
      description: |
        Retrieve the beacon transmissions statistics:
        - Total number of beacon transmissions requested by the LRC since LRR
          startup
        - Total number of beacon effectively transmitted since LRR startup
        - The delivery cause of the last beacon transmission

        Not available if the Base Station executes the Semtech Basic Station software (`model.softwareType = 'BASIC_STATION_LINUX'`).

        ### Access rights:
        - `<NetworkPartner>/x`
        - If the authenticated user has domain restrictions, the base station
          must match the domain restrictions.
      responses:
        '200':
          $ref: '#/components/responses/Beacons'
        default:
          $ref: '#/components/responses/Error'
    parameters:
      - $ref: '#/components/parameters/Bs'
  '/partners/mine/bss/{bsUid}/rfcell/downlinks/statusDistribution':
    get:
      tags:
        - rfcell
      summary: Retrieve the distribution of downlink transmission failures for a base
        station
      description: |
        Analyze the Downlink frames delivery status distribution over a
        reference period:
        - RX1 failure causes distribution
        - RX2 failure causes distribution
        - Ping slot failure causes distribution
        - Total downlink frames actually sent
        - Total downlink frames transmission failures

        ### Access rights:
        - `<NetworkPartner>/x`
        - If the authenticated user has domain restrictions, the base station
          must match the domain restrictions.
      x-rateLimit:
        category: MEDIUM_IMPACT
      parameters:
        - $ref: '#/components/parameters/AntennaIndex'
        - $ref: '#/components/parameters/BeginFirstFrameAnalyse'
        - $ref: '#/components/parameters/DurationDaysHours'
        - $ref: '#/components/parameters/KpiAlgo'
      responses:
        '200':
          $ref: '#/components/responses/StatusDistributions'
        default:
          $ref: '#/components/responses/Error'
    parameters:
      - $ref: '#/components/parameters/Bs'
  '/partners/mine/bss/{bsUid}/rfcell/indicators':
    get:
      tags:
        - rfcell
      summary: Retrieve the advanced RF cell indicators of a base station
      description: |
        Retrieve the advanced RF cell indicators.

        For now the following advanced RF cell indicators are supported:

        <html>
        <table>
        <thead><tr>
          <th><strong>ID</strong></th>
          <th><strong>Type</strong></th>
          <th><strong>Category</strong></th>
          <th><strong>Description</strong></th>
        </tr></thead>
        <tbody>
        <tr>
          <td>urcv</td>
          <td>Integer (w/o max)</td>
          <td>Uplink</td>
          <td>Number of frames received from the radio</td></tr>
        <tr>
          <td>ucrc</td>
          <td>Integer (w/o max)</td>
          <td>Uplink</td>
          <td>Number of frames received with a CRC error</td></tr>
        <tr>
          <td>usz</td>
          <td>Integer (w/o max)</td>
          <td>Uplink</td>
          <td>Number of frames received with a wrong length</td></tr>
        <tr>
          <td>udly</td>
          <td>Integer (w/o max)</td>
          <td>Uplink</td>
          <td>Number of response received too late and reported to the R2 slot</td></tr>
        <tr>
          <td>uder</td>
          <td>Integer (w/o max)</td>
          <td>Uplink</td>
          <td>Number of response received too late and discarded (no R2 or received after R2)</td></tr>
        <tr>
          <td>unwf</td>
          <td>Integer (w/o max)</td>
          <td>Uplink</td>
          <td>Number of frames dropped due to network filters</td></tr>
        <tr>
          <td>dsnd</td>
          <td>Integer (w/o max)</td>
          <td>Downlink</td>
          <td>Number of frames sent toward the radio (including ACK)</td></tr>
        <tr>
          <td>dwai</td>
          <td>Integer with MAX</td>
          <td>Downlink</td>
          <td>Number of frames waiting a transmission slot</td></tr>
        <tr>
          <td>dbsy</td>
          <td>Integer (w/o max)</td>
          <td>Downlink</td>
          <td>Number of downlink packets dropped because the modem was busy</td></tr>
        <tr>
          <td>cok</td>
          <td>Integer (w/o max)</td>
          <td>RF cell modem</td>
          <td>Number of modem starting OK</td></tr>
        <tr>
          <td>cerr</td>
          <td>Integer (w/o max)</td>
          <td>RF cell modem</td>
          <td>Number of modem starting failure</td></tr>
        <tr>
          <td>conf</td>
          <td>Integer (w/o max)</td>
          <td>RF cell modem</td>
          <td>Number of modem configuration failure</td></tr>
        <tr>
          <td>clnk</td>
          <td>Integer (w/o max)</td>
          <td>RF cell modem</td>
          <td>Number of times the link with the modem has been lost</td></tr>
        <tr>
          <td>breq</td>
          <td>Integer (w/o max)</td>
          <td>Beacons</td>
          <td>Number of beacon transmissions requested </td></tr>
        <tr>
          <td>bsnd</td>
          <td>Integer (w/o max)</td>
          <td>Beacons</td>
          <td>Number of beacons transmitted </td></tr>
        </tbody></table></html>

        Not available if the Base Station executes the Semtech Basic Station software (`model.softwareType = 'BASIC_STATION_LINUX'`).

        ### Access rights:
        - `<NetworkPartner>/x`
        - If the authenticated user has domain restrictions, the base station
          must match the domain restrictions.
      responses:
        '200':
          $ref: '#/components/responses/IndicatorsRfcell'
        default:
          $ref: '#/components/responses/Error'
    parameters:
      - $ref: '#/components/parameters/Bs'
  '/partners/mine/bss/{bsUid}/rfcell/indicators/reset':
    post:
      tags:
        - rfcell
      summary: Reset the advanced RF cell indicators of a base station
      description: |
        Reset the advanced RF cell indicators.

        ### Access rights:
        - `<NetworkPartner>/a`
        - If the authenticated user has domain restrictions, the base station
          must match the domain restrictions.
      responses:
        '204':
          description: Operation success
        default:
          $ref: '#/components/responses/Error'
    parameters:
      - $ref: '#/components/parameters/Bs'
  '/partners/mine/bss/{bsUid}/rfcell/servedDevices':
    get:
      tags:
        - rfcell
      summary: Retrieve the list of devices served by a base station
      description: |
        Retrieve the list of devices for which the last uplink frame was in the RF range of the base station.

        If the network partner is a subscriber, only devices belonging to the same subscriber account are returned.

        Following information elements are available for each device:
        - Name (only returned if the device belongs to the network partner and matches the domain restrictons of the authenticated user),
        - HREF (only returned if the device belongs to the network partner and matches the domain restrictons of the authenticated user),
        - DevEUI,
        - DevAddr,
        - Timestamp of the last uplink frame,
        - Last known location (latitude and longitude) when available,
        - Last RSSI, SNR and ESP from the point of view of the base station (even when the base station was not selected as best LRR),
        - LRR ID of the best gateway (this is the LRR ID of the base station when the base station was the best gateway for this device,
          this is the LRR ID of another base station when the base station was not the best gateway for this device).

        Note: The "best gateway" is the base station offering the strongest RF link (highest SNR of the last uplink packet).

        Additionally, retrieve the list of all base stations involved in the analysis.
        Following information elements are available for each base station:
        - LRR ID,
        - Location (latitude and longitude) when available,
        - HREF when the base station belongs to the same network partner and matches the domain restrictons of the authenticated user,

        Limitation:
        - Roaming devices are not retrieved.

        ### Access rights:
        - `<NetworkPartner>/x`
        - If the authenticated user has domain restrictions, the base station
          must match the domain restrictions.
      parameters:
        - $ref: '#/components/parameters/PageIndex'
        - $ref: '#/components/parameters/PageSize'
        - name: duration
          in: query
          description: |
            Size of the analysis window. Supported values: PxD (x days).
          schema:
            type: string
            default: P1D
        - name: bsRank
          in: query
          description: Only return devices for which the rank of this base station in the
            RF link matches one of the specified values.
          schema:
            type: array
            items:
              type: integer
              format: int32
              minimum: 1
              maximum: 3
            default: [ 1, 2, 3 ]
        - name: devicesWithLocationOnly
          in: query
          description: Only return devices for which the location is available.
          schema:
            type: boolean
            default: false
          allowEmptyValue: true
        - name: sort
          in: query
          description: |
            Defines how results are sorted (&lt;attribute&gt;,&lt;order&gt;).

            Following attributes are supported:
            - 'lastUpTimestamp': by timestamp of the last uplink frame

            Following orders are supported:
            - 'asc': ascending order
            - 'desc': descending order

            By default, results are sorted by timestamp of the last uplink frame descending order.
          schema:
            type: string
            default: lastUpTimestamp,desc
      responses:
        '200':
          $ref: '#/components/responses/ServedDevices'
        default:
          $ref: '#/components/responses/Error'
    parameters:
      - $ref: '#/components/parameters/Bs'
  '/partners/mine/bss/{bsUid}/sys/cpu':
    get:
      tags:
        - sys
      summary: Retrieve the CPU usage records of a base station
      description: |
        Retrieve the min and max CPU usage since last record reset.

        Not available if the Base Station executes the Semtech Basic Station software (`model.softwareType = 'BASIC_STATION_LINUX'`).

        ### Access rights:
        - `<NetworkPartner>/x`
        - If the authenticated user has domain restrictions, the base station
          must match the domain restrictions.
      responses:
        '200':
          $ref: '#/components/responses/Cpu'
        default:
          $ref: '#/components/responses/Error'
    parameters:
      - $ref: '#/components/parameters/Bs'
  '/partners/mine/bss/{bsUid}/sys/cpu/histories':
    get:
      tags:
        - sys
      summary: Retrieve the CPU usage history of a base station
      description: |
        Retrieve the CPU history.

        Not available if the Base Station executes the Semtech Basic Station software (`model.softwareType = 'BASIC_STATION_LINUX'`).

        ### Access rights:
        - `<NetworkPartner>/x`
        - If the authenticated user has domain restrictions, the base station
          must match the domain restrictions.
      x-rateLimit:
        category: MEDIUM_IMPACT
      parameters:
        - $ref: '#/components/parameters/BeginFirstReportAnalyse'
        - $ref: '#/components/parameters/DurationDaysHours'
        - $ref: '#/components/parameters/AggregationStep'
        - $ref: '#/components/parameters/KpiAlgo'
        - $ref: '#/components/parameters/Timezone'
      responses:
        '200':
          $ref: '#/components/responses/HistoriesCpu'
        default:
          $ref: '#/components/responses/Error'
    parameters:
      - $ref: '#/components/parameters/Bs'
  '/partners/mine/bss/{bsUid}/sys/cpu/reset':
    post:
      tags:
        - sys
      summary: Reset the CPU usage records of a base station
      description: |
        Reset the min and max CPU usage record.

        ### Access rights:
        - `<NetworkPartner>/a`
        - If the authenticated user has domain restrictions, the base station
          must match the domain restrictions.
      responses:
        '204':
          description: Operation success
        default:
          $ref: '#/components/responses/Error'
    parameters:
      - $ref: '#/components/parameters/Bs'
  '/partners/mine/bss/{bsUid}/sys/disks/{diskIndex}':
    get:
      tags:
        - sys
      summary: Retrieve the usage records of a filesystem partition on a base station
      description: |
        Retrieve the min and max file system usage since last record reset.

        Not available if the Base Station executes the Semtech Basic Station software (`model.softwareType = 'BASIC_STATION_LINUX'`).

        ### Access rights:
        - `<NetworkPartner>/x`
        - If the authenticated user has domain restrictions, the base station
          must match the domain restrictions.
      responses:
        '200':
          $ref: '#/components/responses/Disk'
        default:
          $ref: '#/components/responses/Error'
    parameters:
      - $ref: '#/components/parameters/Bs'
      - $ref: '#/components/parameters/Disk'
  '/partners/mine/bss/{bsUid}/sys/disks/{diskIndex}/histories':
    get:
      tags:
        - sys
      summary: Retrieve the usage history of a filesystem partition on a base station
      description: |
        Retrieve the file system usage history.

        Not available if the Base Station executes the Semtech Basic Station software (`model.softwareType = 'BASIC_STATION_LINUX'`).

        ### Access rights:
        - `<NetworkPartner>/x`
        - If the authenticated user has domain restrictions, the base station
          must match the domain restrictions.
      x-rateLimit:
        category: MEDIUM_IMPACT
      parameters:
        - $ref: '#/components/parameters/BeginFirstReportAnalyse'
        - $ref: '#/components/parameters/DurationDaysHours'
        - $ref: '#/components/parameters/AggregationStep'
[...]
