<c8y-title translate>LoRa device operations</c8y-title>

<div class="row">
    <div class="card col-sm-4" *ngIf="device != undefined">
        <div class="card-header separator">
            <h4 class="card-title">{{'Configure device codec' | translate}}</h4>
        </div>
        <div class="card-block">
            <div class="col-sm-12">
                <div class="c8y-select-wrapper">
                    <label for="model">Type:</label>
                    <select class="form-control" [(ngModel)]="codec" (change)="loadModels(codec)"
                        required>
                        <option>Please select a type</option>
                        <option *ngFor="let codec of codecs" [value]="codec.lora_codec_DeviceCodecRepresentation.id">
                            {{codec.lora_codec_DeviceCodecRepresentation.name}}</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="c8y-select-wrapper">
                    <label for="model">Model:</label>
                    <select class="form-control" [(ngModel)]="model">
                        <option value="-">Please select a model</option>
                        <option *ngFor="let m of models" [value]="m">{{m}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="form-group">
                <button type="button" (click)="updateDeviceCodec()" class="btn btn-primary">
                    Update device codec
                </button>
            </div>
        </div>
    </div>
    <div class="col-sm-1"></div>
    <div class="card col-sm-4">
        <div class="card-header separator">
            <h4 class="card-title">{{'Unprocessed payloads' | translate}}</h4>
        </div>
        <div class="card-block"><span>{{unprocessedPayloads? unprocessedPayloads.length : 0}}</span> unprocessed payloads</div>
        <div class="card-footer">
            <div class="form-group">
                <button type="button" (click)="processPayloads()" class="btn btn-primary" [disabled]="!unprocessedPayloads">
                    Process unprocessed payloads
                </button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="card col-sm-9">
        <div class="card-header separator">
            <h4 class="card-title">{{'Send a command to the device' | translate}}</h4>
        </div>
        <div class="card-block">
            <div class="col-sm-12">
                <div class="c8y-select-wrapper">
                    <label for="model">Command:</label>
                    <select class="form-control" #commandChoice>
                        <option value="">Please select a command</option>
                        <option *ngFor="let command of commands | keyvalue" [value]="command.value.id">
                            {{command.value.name}}</option>
                    </select>
                </div>
            </div>
            <form #parameterValues="ngForm">
                <div *ngIf="commandChoice.value !== ''">
                    <div *ngFor="let parameter of commands[commandChoice.value].params" class="col-sm-6">
                        <div class="form-group" *ngIf="parameter.type === 'STRING'">
                            <label for="{{parameter.id}}">{{parameter.name}}:</label>
                            <input name="{{parameter.id}}" #{{parameter.id}}="ngModel" ngModel required />
                        </div>
                        <div class="form-group" *ngIf="parameter.type === 'ENUM'">
                            <label for="{{parameter.id}}">{{parameter.name}}:</label>
                            <select name="{{parameter.id}}" #{{parameter.id}}="ngModel" ngModel required>
                                <option *ngFor="let option of parameter.value" [value]="option">{{option}}</option>
                            </select>
                        </div>
                        <div class="form-group" *ngIf="parameter.type === 'INTEGER'">
                            <label for="{{parameter.id}}">{{parameter.name}}:</label>
                            <input type="number" name="{{parameter.id}}" #{{parameter.id}}="ngModel" ngModel required />
                        </div>
                        <div class="form-group" *ngIf="parameter.type === 'FLOAT'">
                            <label for="{{parameter.id}}">{{parameter.name}}:</label>
                            <input type="number" step="0.01" name="{{parameter.id}}" #{{parameter.id}}="ngModel" ngModel
                                required />
                        </div>
                        <div class="form-group" *ngIf="parameter.type === 'BOOL'">
                            <label class="c8y-checkbox"><input type="checkbox" name="{{parameter.id}}"
                                    #{{parameter.id}}="ngModel" ngModel
                                    required /><span></span>{{parameter.name}}</label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-footer">
            <div class="form-group">
                <button type="button" (click)="preview(commandChoice.value, parameterValues.value)"
                    class="btn btn-primary">
                    Preview command
                </button>
                <button type="button" (click)="send(commandChoice.value, parameterValues.value)"
                    class="btn btn-primary">
                    Send command
                </button>
            </div>
        </div>
    </div>
    <div class="card col-sm-12" *ngIf="previewCommand !== undefined && previewCommand.success">
        <div class="card-header separator">
            <h4 class="card-title">{{'Preview' | translate}}</h4>
        </div>
        <div class="card-block">
            <div class="col-sm-12">
                fPort: {{previewCommand.response.fport}}
            </div>
            <div class="col-sm-12">
                Payload: {{previewCommand.response.payload}}
            </div>
        </div>
    </div>
    <ng-template #errorModal>
        <div class="modal-header">
            <h4 id="dialog-name" class="modal-title pull-left"><span class="label label-danger">Error</span>
            </h4>
        </div>
        <div class="modal-body">
            An error occurred while parsing the command: {{previewCommand.response}}<br>
            Cause: {{previewCommand.message}}<br>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" (click)="errorModalRef.hide()" translate=""
                ng-reflect-translate="">Close</button>
        </div>
    </ng-template>
</div>