<c8y-title translate>All devices</c8y-title>

<div class="row">
    <div class="card col-sm-4">
        <div class="card-header separator">
            <h4 class="card-title">{{'Create a new device' | translate}}</h4>
        </div>
        <div class="card-block">
            <form #provisionDeviceForm="ngForm">
                <c8y-form-group class="col-sm-6"
                    [hasError]="deviceName.invalid && (deviceName.dirty || deviceName.touched)">
                    <label for="deviceName">Name:</label>
                    <input class="form-control" required #deviceName="ngModel" name="deviceName"
                        [(ngModel)]="provisionDevice.deviceName" (change)="log(provision)" />
                    <c8y-messages *ngIf="deviceName.invalid && (deviceName.dirty || deviceName.touched)">
                        <c8y-message name="required" *ngIf="deviceName.errors?.required">The device name is required
                        </c8y-message>
                    </c8y-messages>
                </c8y-form-group>
                <c8y-form-group class="col-sm-6" [hasError]="devEUI.invalid && (devEUI.dirty || devEUI.touched)">
                    <label for="devEUI">Dev EUI:</label>
                    <input required pattern="[a-fA-F0-9]{16}" #devEUI="ngModel" name="devEUI"
                        [(ngModel)]="provisionDevice.devEUI" class="form-control" maxlength="16"
                        aria-describedby="devEUI-help" placeholder="0011223344556677" />
                    <span id="devEUI-help" class="help-block">
                        Required 64 bits hex number that uniquely identifies the device.
                    </span>
                    <c8y-messages *ngIf="devEUI.invalid && (devEUI.dirty || devEUI.touched)">
                        <c8y-message name="required" *ngIf="devEUI.errors?.required">The device EUI is required
                        </c8y-message>
                        <c8y-message name="pattern" *ngIf="devEUI.errors?.pattern">The device EUI should contain exactly
                            8 bytes in hex format</c8y-message>
                    </c8y-messages>
                </c8y-form-group>
                <c8y-form-group class="col-sm-6">
                    <label for="appEUI">App EUI:</label>
                    <input class="form-control" #appEUI="ngModel" name="appEUI" [(ngModel)]="provisionDevice.appEUI"
                        maxlength="16" />
                    <span id="devEUI" class="help-block">
                        64 bits hex number that uniquely identifies the application. Will be randomly generated if not
                        provided.
                    </span>
                </c8y-form-group>
                <c8y-form-group class="col-sm-6">
                    <label for="appKey">App Key:</label>
                    <input class="form-control" #appKey="ngModel" name="appKey" [(ngModel)]="provisionDevice.appKey"
                        aria-describedby="appKey" maxlength="32" />
                    <span id="appKey" class="help-block">
                        128 bits hex number used to encrypt communication. Will be randomly generated if not provided.
                    </span>
                </c8y-form-group>
                <c8y-form-group class="col-sm-12">
                    <label for="type">Type:</label>
                    <input class="form-control" #type="ngModel" name="type" [(ngModel)]="provisionDevice.type"
                        aria-describedby="type"/>
                    <span id="type" class="help-block">
                        Type of device.
                    </span>
                </c8y-form-group>
                <div class="col-sm-12">
                    <c8y-form-group class="c8y-select-wrapper"
                        [hasError]="codec.invalid && (codec.dirty || codec.touched)">
                        <label for="codec">Codec:</label>
                        <select class="form-control" #codec="ngModel" name="codec" [(ngModel)]="provisionDevice.codec"
                            (change)="loadModels(codec.value)" required>
                            <option [ngValue]="undefined" [disabled]="true">Please select a codec</option>
                            <option *ngFor="let codec of codecService.codecs"
                                [value]="codec.lora_codec_DeviceCodecRepresentation.id">
                                {{codec.lora_codec_DeviceCodecRepresentation.name}}</option>
                        </select>
                        <c8y-messages *ngIf="codec.invalid && (codec.dirty || codec.touched)">
                            <c8y-message name="required" *ngIf="codec.errors?.required">The device codec is required
                            </c8y-message>
                        </c8y-messages>
                    </c8y-form-group>
                </div>
                <div class="col-sm-12">
                    <c8y-form-group class="c8y-select-wrapper">
                        <label for="model">Model:</label>
                        <select class="form-control" #model="ngModel" name="model" [(ngModel)]="provisionDevice.model">
                            <option [ngValue]="undefined" [disabled]="true">Please select a model</option>
                            <option *ngFor="let model of models | keyvalue" [value]="model.key">{{model.value}}</option>
                        </select>
                    </c8y-form-group>
                </div>
                <c8y-form-group class="col-sm-12">
                    <label class="c8y-checkbox"><input class="form-control" type="checkbox" name="provisionInLNS"
                            #provisionInLNS /><span></span>Provision device in
                        LoRa network server</label>
                </c8y-form-group>
                <c8y-form-group class="col-sm-12">
                    <label class="c8y-checkbox"><input class="form-control" type="checkbox"
                            [(ngModel)]="provisionDevice.useGatewayPosition" name="useGatewayPosition"
                            #model="ngModel" /><span></span>Use gateway position</label>
                </c8y-form-group>
                <c8y-form-group class="col-sm-12" *ngIf="provisionInLNS.checked"
                    [hasError]="provisionInLNS.checked && instanceSelect.invalid && (instanceSelect.dirty || instanceSelect.touched)">
                    <div class="c8y-select-wrapper">
                        <label for="instanceSelect">LoRa network server connectors:</label>
                        <select [required]="provisionInLNS.checked" class="form-control" name="instanceSelect"
                            #instanceSelect="ngModel" [(ngModel)]="provisionDevice.instanceSelect"
                            (change)="loadProperties(instanceSelect.value)">
                            <option [ngValue]="undefined" [disabled]="true">Please select a connector</option>
                            <option *ngFor="let instance of lnsService.lnsInstances" [value]="instance.id">
                                {{instance.name}} -
                                {{lnsService.proxyMap[instance.lnsType].name}}</option>
                        </select>
                    </div>
                    <c8y-messages
                        *ngIf="provisionInLNS.checked && instanceSelect.invalid && (instanceSelect.dirty || instanceSelect.touched)">
                        <c8y-message name="required" *ngIf="instanceSelect.errors?.required">The connector is required
                        </c8y-message>
                    </c8y-messages>
                </c8y-form-group>
                <div *ngIf="properties !== undefined">
                    <div *ngFor="let property of properties" class="col-sm-6">
                        <c8y-form-group *ngIf="property.type === 'STRING' || property.type === 'TEXT'">
                            <label for="{{property.name}}">{{property.label}}:</label>
                            <input class="form-control"
                                [(ngModel)]="deviceProvisioningAdditionalProperties[property.name]"
                                name="{{property.name}}" #{{property.name}}="ngModel" ngModel required />
                        </c8y-form-group>
                        <c8y-form-group *ngIf="property.type === 'PASSWORD'">
                            <label for="{{property.name}}">{{property.label}}:</label>
                            <input class="form-control" type="password"
                                [(ngModel)]="deviceProvisioningAdditionalProperties[property.name]"
                                name="{{property.name}}" #{{property.name}}="ngModel" ngModel required />
                        </c8y-form-group>
                        <c8y-form-group *ngIf="property.type === 'NUMBER'">
                            <label for="{{property.name}}">{{property.label}}:</label>
                            <input class="form-control" type="number" step="0.1"
                                [(ngModel)]="deviceProvisioningAdditionalProperties[property.name]"
                                name="{{property.name}}" #{{property.name}}="ngModel" ngModel required />
                        </c8y-form-group>
                        <c8y-form-group *ngIf="property.type === 'INTEGER'">
                            <label for="{{property.name}}">{{property.label}}:</label>
                            <input class="form-control" type="number"
                                [(ngModel)]="deviceProvisioningAdditionalProperties[property.name]"
                                name="{{property.name}}" #{{property.name}}="ngModel" ngModel required />
                        </c8y-form-group>
                        <c8y-form-group *ngIf="property.type === 'BOOLEAN'">
                            <label class="c8y-checkbox"><input type="checkbox"
                                    [(ngModel)]="deviceProvisioningAdditionalProperties[property.name]"
                                    name="{{property.name}}" #{{property.name}}="ngModel" ngModel
                                     /><span></span>{{property.label}}</label>
                        </c8y-form-group>
                        <c8y-form-group *ngIf="property.type === 'LIST'">
                            <label for="{{property.name}}">{{property.label}}:</label>
                            <select [(ngModel)]="deviceProvisioningAdditionalProperties[property.name]"
                                class="form-control" name="{{property.name}}" #{{property.name}}="ngModel" ngModel
                                required>
                                <option [ngValue]="undefined" [disabled]="true">Please select {{property.name}}</option>
                                <option *ngFor="let v of property.values" [value]="v.id">{{v.name}}</option>
                            </select>
                        </c8y-form-group>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-footer">
            <div class="form-group">
                <button type="button" [disabled]="!provisionDeviceForm.form.valid" (click)="addDeviceFromForm()"
                    class="btn btn-primary">
                    Add device
                </button>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <h1 style="text-align: center;vertical-align: middle;">or</h1>
    </div>
    <div class="card col-sm-4">
        <div class="card-header separator">
            <h4 class="card-title">Upload a CSV file</h4>
        </div>
        <div class="card-block">
            <c8y-form-group class="col-sm-12"
                [hasError]="instanceSelect.invalid && (instanceSelect.dirty || instanceSelect.touched)">
                <div class="c8y-select-wrapper">
                    <label for="instanceSelect">LoRa network server connectors:</label>
                    <select [required]="true" class="form-control" name="instanceSelect" #instanceSelect="ngModel"
                        [(ngModel)]="bulkProvisionDevices.instanceSelect"
                        (change)="loadBulkProperties(instanceSelect.value)">
                        <option [ngValue]="undefined" [disabled]="true">Please select a connector</option>
                        <option *ngFor="let instance of lnsService.lnsInstances" [value]="instance.id">
                            {{instance.name}} -
                            {{lnsService.proxyMap[instance.lnsType].name}}</option>
                    </select>
                </div>
                <c8y-messages *ngIf="instanceSelect.invalid && (instanceSelect.dirty || instanceSelect.touched)">
                    <c8y-message name="required" *ngIf="instanceSelect.errors?.required">The connector is required
                    </c8y-message>
                </c8y-messages>
            </c8y-form-group>
            <div *ngIf="instanceSelect.valid">
                File must contain the following columns:<br>
                <span style="word-wrap: break-word">name;devEUI;appEUI;appKey;type;codec;model<span
                        *ngIf="bulkProperties !== undefined"><span
                            *ngFor="let bulkProperty of bulkProperties">;{{bulkProperty.name}}<button
                                *ngIf="bulkProperty.type === 'LIST'" class="btn-clean m-l-4 flex-item-middle"
                                popoverTitle="Accepted values (label in parenthesis):"
                                popover="{{bulkProperty.values | property:'id':'name'}}" placement="right"
                                type="button">
                                <i class="fa fw dlt-c8y-icon-help-outline text-primary"></i>
                            </button>
                        </span>
                    </span>
                </span>
            </div>
            <div class="col-sm-12">
                <input type="file" (change)="changeListener($event.target.files)">
            </div>
            <div *ngIf="fileContent !== undefined && fileContent.length > 0" class="col-sm-12">
                {{fileContent.length}} devices detected
            </div>
        </div>
        <div class="card-footer" *ngIf="fileContent !== undefined && fileContent.length > 0">
            <div class="form-group">
                <button type="button" (click)="addDevices()" class="btn btn-primary">
                    Add devices
                </button>
            </div>
        </div>
    </div>
</div>

<div class="split-scroll">
    <c8y-data-grid [title]="'Devices' | translate" class="scroll-column" [columns]="columns" [pagination]="pagination"
        [selectable]="true" [actionControls]="actionControls" [bulkActionControls]="bulkActionControls"
        [serverSideDataCallback]="serverSideDataCallback">
        <c8y-column name="deveui">
            <ng-container *c8yCellRendererDef="let context">
                <a [routerLink]="['/device', context.value]">{{devEUIs[context.value]}}</a>
            </ng-container>
        </c8y-column>
        <c8y-column name="codec">
            <ng-container *c8yCellRendererDef="let context">
                {{codecService.codecMap[context.value] && codecService.codecMap[context.value].name}}
            </ng-container>
        </c8y-column>
        <c8y-column name="lnstype">
            <ng-container *c8yCellRendererDef="let context">
                {{lnsService.instanceMap[context.value] && lnsService.proxyMap[lnsService.instanceMap[context.value].lnsType] &&
                lnsService.proxyMap[lnsService.instanceMap[context.value].lnsType].name}}
            </ng-container>
        </c8y-column>
        <c8y-column name="lnsname">
            <ng-container *c8yCellRendererDef="let context">
                {{lnsService.instanceMap[context.value] && lnsService.instanceMap[context.value].name}}
            </ng-container>
        </c8y-column>
    </c8y-data-grid>
</div>

<ng-template #deleteDeviceModal>
    <div class="modal-header">
        <h4 id="dialog-name" class="modal-title pull-left">Confirm device
            deletion
        </h4>
    </div>
    <div class="modal-body">
        Device will be removed from inventory<br>
        <div class="form-group">
            <label class="c8y-checkbox"><input type="checkbox" #deprovision /><span></span>Deprovision device from
                LoRa network server</label>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" (click)="endDelete(deprovision.checked)">Confirm</button>
        <button class="btn btn-primary" (click)="deleteDeviceModalRef.hide()">Cancel</button>
    </div>
</ng-template>

<ng-template #deleteDevicesModal>
    <div class="modal-header">
        <h4 id="dialog-name" class="modal-title pull-left">Confirm devices
            deletion
        </h4>
    </div>
    <div class="modal-body">
        Devices will be removed from inventory<br>
        <div class="form-group">
            <label class="c8y-checkbox"><input type="checkbox" #deprovision /><span></span>Deprovision devices from
                LoRa network server</label>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" (click)="endDeleteAll(deprovision.checked)">Confirm</button>
        <button class="btn btn-primary" (click)="deleteDevicesModalRef.hide()">Cancel</button>
    </div>
</ng-template>

<ng-template #changeDeviceTypeModal>
    <div class="modal-header">
        <h4 id="dialog-name" class="modal-title pull-left">Change device type
        </h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label class="form-control">Type new device type</label>
            <input #changeType required/>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" (click)="endChangeDeviceType(changeType.value)">Confirm</button>
        <button class="btn btn-primary" (click)="changeDeviceTypeModalRef.hide()">Cancel</button>
    </div>
</ng-template>

<ng-template #changeDevicesTypeModal>
    <div class="modal-header">
        <h4 id="dialog-name" class="modal-title pull-left">Change devices type
        </h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label class="form-control">Type new devices type</label>
            <input #changeType required/>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" (click)="endChangeDevicesType(changeType.value)">Confirm</button>
        <button class="btn btn-primary" (click)="changeDevicesTypeModalRef.hide()">Cancel</button>
    </div>
</ng-template>
