<c8y-title translate>All devices</c8y-title>

<div class="row">
    <div class="card col-sm-4">
        <div class="card-header separator">
            <h4 class="card-title">{{'Create a new device' | translate}}</h4>
        </div>
        <div class="card-block">
            <div class="form-group col-sm-6">
                <label for="deviceName">Name:</label>
                <input #deviceName required />
            </div>
            <div class="form-group col-sm-6">
                <label for="devEUI">Dev EUI:</label>
                <input #devEUI required />
            </div>
            <div class="form-group col-sm-6">
                <label for="appEUI">App EUI:</label>
                <input #appEUI required />
            </div>
            <div class="form-group col-sm-6">
                <label for="appKey">App Key:</label>
                <input #appKey required />
            </div>
            <div class="col-sm-12">
                <div class="c8y-select-wrapper">
                    <label for="model">Type:</label>
                    <select class="form-control" #type (change)="loadModels(type.value)" required>
                        <option>Please select a type</option>
                        <option *ngFor="let codec of codecs" [value]="codec.lora_codec_DeviceCodecRepresentation.id">
                            {{codec.lora_codec_DeviceCodecRepresentation.name}}</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="c8y-select-wrapper">
                    <label for="model">Model:</label>
                    <select class="form-control" #model>
                        <option value="-">Please select a model</option>
                        <option *ngFor="let model of models | keyvalue" [value]="model.key">{{model.value}}</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-12">
                <label class="c8y-checkbox"><input type="checkbox" #provision /><span></span>Provision device on
                    LoRa network server</label>
            </div>
            <div class="col-sm-12" [hidden]="!provision.checked">
                <div class="c8y-select-wrapper">
                    <label for="instanceSelect">LoRa network server connectors:</label>
                    <select class="form-control" #instanceSelect>
                        <option value="">Please select a connector</option>
                        <option *ngFor="let instance of lnsInstances" [value]="instance.id">
                            {{instance.name}} -
                            {{proxyMap[instance.lnsType].name}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="form-group">
                <button type="button"
                    (click)="addDevice(deviceName.value, devEUI.value, appEUI.value, appKey.value, type.value, model.value, instanceSelect.value)"
                    class="btn btn-primary">
                    Add device
                </button>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <h1 style="text-align: center;vertical-align: middle;">or</h1>
    </div>
    <div class="card col-sm-4">
        <div class="card-header separator">
            <h4 class="card-title">Upload a CSV file
                <button class="btn-clean m-l-4 flex-item-middle" popoverTitle="Format (one device per line)" popover="{{
                    '<<appKey>>;<<name>>;<<devEUI>>;<<appEUI>>;<<codec id>>;<<model>>;<<instance>>'| translate}}" placement="right" type="button">
                    <i class="fa fw fa-question-circle-o text-primary"></i>
                </button>
            </h4>
        </div>
        <div class="card-block">
            <div class="col-sm-12">
                <input type="file" (change)="changeListener($event.target.files)">
            </div>
            <div *ngIf="fileContent !== undefined && fileContent.length > 0" class="col-sm-12">
                {{fileContent.length}} devices detected
            </div>
        </div>
        <div class="card-footer" *ngIf="fileContent !== undefined && fileContent.length > 0">
            <div class="form-group">
                <button type="button" (click)="addDevices()" class="btn btn-primary">
                    Add devices
                </button>
            </div>
        </div>
    </div>
</div>

<div class="split-scroll">
    <c8y-data-grid
      [title]="'Devices' | translate"
      class="scroll-column"
      [noMatchingItemsLabel]="'No matching devices.' | translate"
      [columns]="columns"
      [pagination]="pagination"
      [selectable]="true"
      [actionControls]="actionControls"
      [bulkActionControls]="bulkActionControls"
      [serverSideDataCallback]="serverSideDataCallback"
    >
      <c8y-column name="deveui">
        <ng-container *c8yCellRendererDef="let context">
            <a [routerLink]="['/device', context.value]">{{devEUIs[context.value]}}</a>
        </ng-container>
      </c8y-column>
      <c8y-column name="type">
        <ng-container *c8yCellRendererDef="let context">
            {{codecMap[context.value] && codecMap[context.value].name}}
        </ng-container>
      </c8y-column>
      <c8y-column name="lnstype">
        <ng-container *c8yCellRendererDef="let context">
            {{instanceMap[context.value] && proxyMap[instanceMap[context.value].lnsType] && proxyMap[instanceMap[context.value].lnsType].name}}
        </ng-container>
      </c8y-column>
      <c8y-column name="lnsname">
        <ng-container *c8yCellRendererDef="let context">
            {{instanceMap[context.value] && instanceMap[context.value].name}}
        </ng-container>
      </c8y-column>
    </c8y-data-grid>
  </div>
<!--  
<div *ngIf="devices === undefined || devices.length === 0">
    {{informationText | translate}}
</div>

<table class="table table-striped" *ngIf="devices !== undefined && devices.length > 0">
    <tr>
        <th translate>Dev EUI</th>
        <th translate>Name</th>
        <th translate>Type</th>
        <th translate>Model</th>
        <th translate>LNS type</th>
        <th translate>LNS name</th>
        <th></th>
    </tr>
    <tr *ngFor="let device of devices">
        <td>
            <a [routerLink]="['/device', device.id]">{{devEUIs[device.id]}}</a>
        </td>
        <td *ngIf="device.name !== undefined">{{device.name}}</td>
        <td *ngIf="device.name === undefined"> - </td>
        <td *ngIf="device.codec !== undefined">{{codecMap[device.codec].name}}</td>
        <td *ngIf="device.codec === undefined"> - </td>
        <td *ngIf="device.c8y_Hardware !== undefined">{{device.c8y_Hardware.model}}</td>
        <td *ngIf="device.c8y_Hardware === undefined"> - </td>
        <td *ngIf="device.lnsConnectorId !== undefined">
            {{proxyMap[instanceMap[device.lnsConnectorId].lnsType].name}}</td>
        <td *ngIf="device.lnsConnectorId === undefined"> - </td>
        <td *ngIf="device.lnsConnectorId !== undefined">{{instanceMap[device.lnsConnectorId].name}}
        </td>
        <td *ngIf="device.lnsConnectorId === undefined"> - </td>
        <td ng-class="{&quot;text-center&quot;:true}" class="ng-scope text-center">
            <div style="max-width:240px;" class="text-truncate">
                <button class="btn-dot showOnHover" uib-tooltip="Delete device" tooltip-append-to-body="true"
                    tooltip-placement="left" (click)="delete(device)">
                    <i c8y-icon="minus-circle" class="text-danger fa fw fa-minus-circle"></i>
                </button>
            </div>
        </td>
    </tr>
</table>
-->

<ng-template #deleteDeviceModal>
    <div class="modal-header">
        <h4 id="dialog-name" class="modal-title pull-left">Confirm device
            deletion
        </h4>
    </div>
    <div class="modal-body">
        Device will be removed from inventory<br>
        <div class="form-group">
            <label class="c8y-checkbox"><input type="checkbox" #deprovision /><span></span>Deprovision device from
                LoRa network server</label>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" (click)="endDelete(deprovision.checked)" translate=""
            ng-reflect-translate="">Confirm</button>
        <button class="btn btn-primary" (click)="deleteDeviceModalRef.hide()" translate=""
            ng-reflect-translate="">Cancel</button>
    </div>
</ng-template>