<c8y-title translate>Group health</c8y-title>
<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Average signal quality</h4>
            </div>
            <div class="card-header separator">
                <div class="measurements-time-control card-subtitle">
                    <div class="measurements-date-from datetime-picker">
                        <label class="right-m-xs">From</label>
                        <div class="form-group datepicker">
                            <input type="text" placeholder="Range" class="form-control" bsDatepicker
                                [(ngModel)]="dateFrom" [bsConfig]="bsConfig" (bsValueChange)="loadMeasurements()">
                        </div>
                        <timepicker [(ngModel)]="dateFrom" [showMeridian]="showMeridian" [showSpinners]="showSpinners"
                            (bsValueChange)="loadMeasurements()"></timepicker>
                    </div>
                    <div class="measurements-date-to datetime-picker">
                        <label class="right-m-xs">To</label>
                        <div class="form-group datepicker">
                            <input type="text" placeholder="Range" class="form-control" bsDatepicker
                                [(ngModel)]="dateTo" [bsConfig]="bsConfig" (bsValueChange)="loadMeasurements()">
                        </div>
                        <timepicker [(ngModel)]="dateTo" [showMeridian]="showMeridian" [showSpinners]="showSpinners"
                            (bsValueChange)="loadMeasurements()"></timepicker>
                    </div>
                </div>
            </div>
            <div class="card-block">
                <div id="chartContainer"></div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header separator">
                <h4 class="card-title">Average battery status</h4>
            </div>
            <div class="card-block">
                <svg viewBox="0 0 377.021 377.021">
                    <path xmlns="http://www.w3.org/2000/svg"
                        d="M279.522,36.163h-22.086V20c0-11.028-8.972-20-20-20h-97.85c-11.028,0-20,8.972-20,20v16.163H97.5   c-16.542,0-30,13.458-30,30v280.858c0,16.542,13.458,30,30,30h182.022c16.542,0,30-13.458,30-30V66.163   C309.522,49.621,296.064,36.163,279.522,36.163z M97.5,347.021V66.163h182.022l0.003,280.858H97.5z"
                        [attr.fill]="color" />
                    <rect *ngIf="battery>25" xmlns="http://www.w3.org/2000/svg" x="122.586" y="266.5" width="131.85"
                        height="59.663" [attr.fill]="color" />
                    <rect *ngIf="battery>50" xmlns="http://www.w3.org/2000/svg" x="122.586" y="176.63" width="131.85"
                        height="59.663" [attr.fill]="color" />
                    <rect *ngIf="battery>75" xmlns="http://www.w3.org/2000/svg" x="122.586" y="86.76" width="131.85"
                        height="59.663" [attr.fill]="color" />
                </svg>
            </div>
            <div class="card-footer">
                <h1 class="card-title" style="text-align: center;font-weight: bolder;">{{battery}}%</h1>
            </div>
        </div>
    </div>
</div>